<?php
$theme_helper = $this->helper('sebian');
?>
<?php $post = $this->getPost(); ?>
<div class="page-title">
    <h1><?php echo $post->getTitle(); ?></h1>
</div>
<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
<div class="blog-detail">
    <div class="post-item">
        <div class="post-item-inner">
            <div class="post-thumbnail">
                <?php if($post->getImage()):?>
                    <a href="<?php echo $post->getAddress(); ?>">
                        <img src="<?php echo $theme_helper->resizeImage($post->getImage());?>" alt="<?php echo $post->getTitle(); ?>"/>
                    </a>
                <?php endif;?>
            </div>
            <div class="post-item-content">
                <?php $postCats = $post->getCats(); ?>
                <?php if (!empty($postCats)): ?>
                    <div class="post-category">
                        <?php foreach ($postCats as $title => $url): ?>
                            <a href="<?php echo $url; ?>"><?php echo $title; ?></a>
                        <?php endforeach; ?>
                    </div>
                <?php endif;?>
                <h2 class="post-title"><a href="<?php echo $post->getAddress(); ?>" ><?php echo $post->getTitle(); ?></a></h2>
                <div class="title-divider-style-3 margin-left-0"></div>
                <?php echo $this->getBookmarkHtml($post) ?>
                <div class="post-meta">
                    <div class="post-by"><a href="<?php echo $post->getAddress(); ?>"><i class="fa fa-user"></i><span><?php echo $post->getUser(); ?></span></a></div>
                    <div class="post-date"><a href="<?php echo $post->getAddress(); ?>"><i class="fa fa-calendar"></i><span><?php echo $post->getCreatedTime(); ?></span></a></div>
                    <?php if ($this->getCommentsEnabled() && $post->getCommentCount()): ?>
                        <div class="post-view"><a href="<?php echo $post->getAddress(); ?>#commentBox"><i class="fa fa-eye"></i><span><?php echo $post->getCommentCount();?></span></a></div>
                    <?php endif;?>
                     <div class="post-share" style="display: block;">
                         <!-- Compartir script --> <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-588f808206fe1495"></script> <!-- Compartir botones --> <div class="addthis_inline_share_toolbox"></div>
                     </div>
                </div>
                <div class="post-excerpt std"><?php echo $post->getPostContent(); ?></div>
                <div class="tags"><?php echo Mage::getBlockSingleton('blog/blog')->getTagsHtml($post) ?></div>
            </div>
        </div>
    </div>
</div>

<!-- Comment Section -->

<?php if ($this->getCommentsEnabled()): ?>
    <?php $comments = $this->getComment(); ?>
    <div class="text-center text-uppercase"><a name="commentBox" ></a>
        <h2><?php echo $this->__('Post Comments') ?></h2>
    </div>
    <div class="clearfix"></div>
    <?php echo $this->getChildHtml('aw_blog_comments_toolbar'); ?>
    <div class="clearfix"></div>
        <?php foreach ($comments as $comment) : ?>
            <div class="commentWrapper">
                <div class="commentDetails"><h4 class="username"><?php echo $comment->getUser(); ?></h4> </div>
                <div class="commentContent"><?php echo nl2br($comment->getComment()); ?></div>
                <div class="commentCreate"><?php echo $this->formatDate($comment->getCreatedTime(), Mage::getStoreConfig('blog/blog/dateformat'), true); ?></div>
            </div>
        <?php endforeach; ?>
    <div class="clearfix"></div>
     <?php echo $this->getChildHtml('aw_blog_comments_toolbar'); ?>

    <div class="clearfix"></div>
    <?php if ($post->getComments()): ?>
        <div class="postError"><?php echo Mage::helper('blog')->__('Comments are Closed for this post') ?></div>
    <?php else: ?>
        <?php if ($this->getLoginRequired()): ?>
            <?php if ($this->helper('customer')->isLoggedIn()): ?>
                <form action="" id="postComment" method="post">
                    <div class="fieldset">
                        <h4 class="legend"><?php echo Mage::helper('blog')->__('Submit Comment') ?></h4>
                        <ul class="form-list">
                            <li>

                                <div class="input-box aw-blog-comment-area">
                                    <label for="comment" class="required"><?php echo Mage::helper('blog')->__('Comment') ?><em>*</em></label><br />
                                    <textarea name="comment" id="comment" title="<?php echo $this->__('Comment') ?>" class="required-entry input-text" style="height:150px;width:100%;" cols="50" rows="5"><?php echo $this->getCommentText(); ?></textarea>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="button-set" style="width:96%">
                        <input name="post_id" type="hidden" value="<?php echo $post->getPostId(); ?>" />
                        <input name="email" type="hidden" value="<?php echo $this->htmlEscape($this->helper('blog')->getUserEmail()) ?>"/>
                        <input name="user" type="hidden" value="<?php echo $this->htmlEscape($this->helper('blog')->getUserName()) ?>"/>
                        <p class="required"><?php echo $this->__('* Required Fields') ?></p>
                        <button class="form-button button" type="submit"><span><span><?php echo Mage::helper('blog')->__('Submit Comment') ?></span></span></button>
                    </div>
                </form>

                <script type="text/javascript">
                    var contactForm = new VarienForm('postComment', false);
                </script>

            <?php else: ?>
                <p><?php echo Mage::helper('blog')->__('You must be logged in to post a comment.'); ?></p>
                <p><a href="<?php echo Mage::helper('customer')->getLoginUrl(); ?>"><?php echo Mage::helper('blog')->__('click here'); ?></a> <?php echo Mage::helper('blog')->__('to log in'); ?></p>
            <?php endif ?>

        <?php else: ?>

            <form action="" id="postComment" method="post">
                <div class="fieldset">
                    <h4 class="legend"><?php echo Mage::helper('blog')->__('Submit Comment') ?></h4>
                    <ul class="form-list">
                        <li>
                            <div class="input-box">
                                <label for="name" class="required"><?php echo Mage::helper('blog')->__('Name') ?><em>*</em></label><br />
                                <input name="user" id="user" value="<?php echo $this->getCommentName(); ?>" title="<?php echo $this->__('Name') ?>" class="required-entry input-text" type="text" />
                            </div>

                            <div class="input-box">
                                <label for="email" class="required"><?php echo Mage::helper('blog')->__('Email') ?><em>*</em></label><br />
                                <input name="email" id="email" value="<?php echo $this->getCommentEmail(); ?>" title="<?php echo $this->__('Email') ?>" class="required-entry input-text validate-email" type="text" />
                            </div>

                            <div class="clear"></div>

                            <div class="input-box aw-blog-comment-area">
                                <label for="comment" class="required"><?php echo Mage::helper('blog')->__('Comment') ?><em>*</em></label><br />
                                <textarea name="comment" id="comment" title="<?php echo Mage::helper('blog')->__('Comment') ?>" class="required-entry input-text" style="height:150px;width:100%;" cols="50" rows="5"><?php echo $this->getCommentText(); ?></textarea>
                            </div>
                        </li>

                        <?php
                        if (Mage::getStoreConfig('blog/recaptcha/enabled') && !$this->helper('customer')->isLoggedIn()) {
                            ?><li><?php
                require_once 'recaptcha/recaptchalib-aw.php';

                // Get a key from http://recaptcha.net/api/getkey
                $publickey = Mage::getStoreConfig('blog/recaptcha/publickey');
                $privatekey = Mage::getStoreConfig('blog/recaptcha/privatekey');
                $error = null;

                echo recaptcha_get_html($publickey, $error, Mage::app()->getStore()->isCurrentlySecure());
                            ?></li><?php
            }
                        ?>
                    </ul>
                </div>
                <div class="button-set" style="width:96%">
                    <input name="post_id" type="hidden" value="<?php echo $post->getPostId(); ?>" />
                    <p class="required"><?php echo $this->__('* Required Fields') ?></p>
                    <button class="button form-button" type="submit"><span><span><?php echo Mage::helper('blog')->__('Submit Comment') ?></span></span></button>
                </div>
            </form>

            <script type="text/javascript">
                var contactForm = new VarienForm('postComment', false);
            </script>
        <?php endif; ?>
    <?php endif; ?>
<?php endif; ?>