<style>
    .cloud-zoom-lens {
        cursor:move;
    }
</style>
<?php
$_product = $this->getProduct();
$_helper = $this->helper('catalog/output');
$theme_helper = $this->helper('sebian');
$galleryImages = $_product->getMediaGalleryImages();


$enable_popup = $theme_helper->getCfg('product_detail_zoom/enable_popup');
$enable_zoom = $theme_helper->getCfg('product_detail_zoom/enable_zoom');

$_catalog_details_layout = $theme_helper->getCfg('product_details/product_style');


$image_width = $theme_helper->getCfg('product_detail_zoom/image_main_width');
$image_height = $theme_helper->getCfg('product_detail_zoom/image_main_height');


if($enable_zoom){
    $config_zoom_array = array(
        'zoomWidth'     => intval($theme_helper->getCfg('product_detail_zoom/zoom_width')),
        'zoomHeight'    => intval($theme_helper->getCfg('product_detail_zoom/zoom_height')),
        'position'      => "'" . $theme_helper->getCfg('product_detail_zoom/position') ."'",
        'adjustX'       => intval($theme_helper->getCfg('product_detail_zoom/adjust_x')),
        'adjustY'       => intval($theme_helper->getCfg('product_detail_zoom/adjust_y')),
        'lensOpacity'   => "'" . $theme_helper->getCfg('product_detail_zoom/lens_opacity')."'",
        'smoothMove'    => intval($theme_helper->getCfg('product_detail_zoom/smooth_move')),
        'showTitle'     => $theme_helper->getCfg('product_detail_zoom/show_title') ? true : false,
        'titleOpacity'  => $theme_helper->getCfg('product_detail_zoom/title_opacity')
    );
}

$config_zoom = '';

if(!empty($config_zoom_array)){
    foreach($config_zoom_array as $key => $val){
        if($config_zoom != ''){
            $config_zoom .= ',';
        }
        $config_zoom .= "{$key}:{$val}";
    }
}

$s_width        = $theme_helper->getCfg('product_detail_slideshow/width_thumbnail');
$s_height       = $theme_helper->getCfg('product_detail_slideshow/height_thumbnail');
$s_position     = $theme_helper->getCfg('product_detail_slideshow/position');

$config_slider_array = array(
    'vertical'          => ($s_position == 'left' || $s_position == 'right') ? true : false,
    'infinite'          => $theme_helper->getCfg('product_detail_slideshow/infinite') ? true : false,
    'speed'             => intval($theme_helper->getCfg('product_detail_slideshow/speed')),
    'slidesToShow'      => intval($theme_helper->getCfg('product_detail_slideshow/slides_to_show')),
    'slidesToScroll'    => intval($theme_helper->getCfg('product_detail_slideshow/slides_to_scroll'))
);
if($theme_helper->getCfg('product_detail_slideshow/auto_play')){
    $config_slider_array['autoplay'] = true;
    $config_slider_array['autoplaySpeed'] = intval($theme_helper->getCfg('product_detail_slideshow/autoplay_speed'));
}else{
    $config_slider_array['autoplay'] = 500;
}
if($responsive=$theme_helper->getCfg('product_detail_slideshow/responsive')){
    $res_array = explode(';',$responsive);
    $responsive_tmp = array();
    if(count($res_array) > 0){
        foreach($res_array as $res){
            $res_tmp = explode(':',$res);
            $arr_tmp = array();
            $arr_tmp['breakpoint'] = intval($res_tmp[0]);
            $res_tmp2 = str_replace(array('[',']'),'',$res_tmp[1]);
            $arr_tmp2 = explode(',',$res_tmp2);
            $arr_tmp['settings'] = array(
                'slidesToShow' => intval($arr_tmp2[0]),
                'slidesToScroll' => intval($arr_tmp2[1]),
                'infinite'=> $theme_helper->getCfg('product_detail_slideshow/infinite') ? true : false
            );
            $responsive_tmp[] = $arr_tmp;
        }
    }
    if(count($responsive_tmp) > 0){
        $config_slider_array['responsive'] = $responsive_tmp;
    }
    $btn_slider_prev = (in_array($s_position,array('top','bottom'))) ? '<span><i class="fa fa-caret-square-o-left"></i></span>' : '<span><i class="fa fa-caret-square-o-up"></i></span>';
    $btn_slider_next = (in_array($s_position,array('top','bottom'))) ? '<span><i class="fa fa-caret-square-o-right"></i></span>' : '<span><i class="fa fa-caret-square-o-down"></i></span>';
    $btn_slider_prev = '<button type="button" class="slick-prev">'.$btn_slider_prev.'</button>';
    $btn_slider_next = '<button type="button" class="slick-next">'.$btn_slider_next.'</button>';
}

$show_countdown = $theme_helper->getCfg('product_countdown/details') ? true : false ;

?>
<?php if($_catalog_details_layout == 'style_2'):?>
    <div class="product-img-box-top">
        <div class="product-image arw-product-image">
            <?php if($show_countdown){
                echo $theme_helper->show_product_countdown($_product);
            }?>
            <?php echo $theme_helper->getLabel($_product);?>
    <?php if (count($galleryImages) > 0): ?>
            <?php foreach ($galleryImages as $_image): ?>
                <?php if ($this->isGalleryImageVisible($_image)): ?>
                    <a class="arw-fancybox" rel="detail-gallery" href="<?php echo $this->helper('catalog/image')->init($_product, 'image', $_image->getFile()); ?>" title="<?php echo $this->htmlEscape($_image->getLabel()) ?>">
                        <img src="<?php echo $this->helper('catalog/image')->init($_product, 'image', $_image->getFile())->resize($image_width,$image_height); ?>" alt="<?php echo $this->htmlEscape($_image->getLabel()) ?>" />
                    </a>
                <?php endif;?>
            <?php endforeach; ?>
    <?php else:?>
        <a class="arw-fancybox" rel="detail-gallery" href="<?php echo $this->helper('catalog/image')->init($_product, 'image');?>">
            <?php
            $_img = '<img src="'.$this->helper('catalog/image')->init($_product, 'image')->resize($image_width,$image_height).'" alt="'.$this->escapeHtml($this->getImageLabel()).'" title="'.$this->escapeHtml($this->getImageLabel()).'" />';
            echo $_helper->productAttribute($_product, $_img, 'image');
            ?>
        </a>
    <?php endif;?>
        </div>
    </div>
<?php else:?>
    <div class="product-img-box-<?php echo $s_position;?><?php //if(count($galleryImages) == 0) echo ' full-width'?>">
        <?php if($s_position != 'top'):?>
            <div class="product-image arw-product-image">
                <?php if($show_countdown){
                    echo $theme_helper->show_product_countdown($_product);
                }?>
                <?php echo $theme_helper->getLabel($_product);?>
                <a href='<?php echo $this->helper('catalog/image')->init($_product, 'image');?>' class='cloud-zoom' id='arw-zoom' rel="<?php echo $config_zoom ?>">
                    <?php
                    $_img = '<img id="image" src="'.$this->helper('catalog/image')->init($_product, 'image')->resize($image_width,$image_height).'" alt="'.$this->escapeHtml($this->getImageLabel()).'" title="'.$this->escapeHtml($this->getImageLabel()).'" />';
                    echo $_helper->productAttribute($_product, $_img, 'image');
                    ?>
                </a>
            </div>
        <?php endif;?>
        <?php if($enable_popup):?>
            <p style="display:none;">
                <?php if (count($galleryImages) > 0): ?>
                    <?php foreach ($galleryImages as $_image): ?>
                        <?php if ($this->isGalleryImageVisible($_image)): ?>
                            <a class="zoom-fancybox-button"
                               href="<?php echo $this->helper('catalog/image')->init($_product, 'image', $_image->getFile()); ?>"
                               data-image="<?php echo $this->helper('catalog/image')->init($_product, 'image', $_image->getFile())->resize($image_width,$image_height); ?>" rel="gallery"></a>
                        <?php endif;?>
                    <?php endforeach; ?>
                <?php else: // hack for one image?>
                    <a class="zoom-fancybox-button"
                       href="<?php echo $this->helper('catalog/image')->init($_product, 'image'); ?>"
                       data-image="<?php echo $this->helper('catalog/image')->init($_product, 'image')->resize($image_width,$image_height); ?>" rel="gallery"></a>
                <?php endif;?>
            </p>
        <?php endif;?>
        <?php if (count($galleryImages) > 0): ?>
            <div class="more-views">
                <div class="arw-slick-slider">
                    <?php if ($_product->getImage() == 'no_selection'): ?>
                        <div class="thumbnail-item">
                            <a <?php if(!$enable_zoom):?> data-detail-image="<?php echo $this->helper('catalog/image')->init($_product, 'image')->resize($image_width,$image_height); ?>"<?php endif;?> href="<?php echo $this->helper('catalog/image')->init($_product, 'image');?>" class="cloud-zoom-gallery" title="<?php echo $this->htmlEscape($this->getImageLabel()) ?>"
                            <?php if($enable_zoom):?>rel="useZoom: 'arw-zoom', smallImage: '<?php echo $this->helper('catalog/image')->init($_product, 'image')->resize($image_width,$image_height); ?>'"<?php endif;?>>
                                <?php $_img = '<img src="'.$this->helper('catalog/image')->init($_product, 'thumbnail')->resize($s_width, $s_height).'" alt="'.$this->htmlEscape($this->getImageLabel()).'" title="'.$this->htmlEscape($this->getImageLabel()).'" />';
                                echo $_helper->productAttribute($_product, $_img, 'thumbnail'); ?>
                            </a>
                        </div>
                    <?php endif;?>
                    <?php foreach ($galleryImages as $_image): ?>
                        <?php if ($this->isGalleryImageVisible($_image)): ?>
                            <div class="thumbnail-item">
                                <a <?php if(!$enable_zoom):?>data-detail-image="<?php echo $this->helper('catalog/image')->init($_product, 'image', $_image->getFile())->resize($image_width,$image_height); ?>"<?php endif;?> href="<?php echo $this->helper('catalog/image')->init($_product, 'image', $_image->getFile()); ?>" class="cloud-zoom-gallery" title="<?php echo $this->htmlEscape($_image->getLabel()) ?>"
                                   <?php if($enable_zoom):?>rel="useZoom: 'arw-zoom', smallImage: '<?php echo $this->helper('catalog/image')->init($_product, 'image', $_image->getFile())->resize($image_width,$image_height); ?>'"<?php endif;?>>
                                    <img src="<?php echo $this->helper('catalog/image')->init($_product, 'thumbnail', $_image->getFile())->resize($s_width, $s_height); ?>" alt="<?php echo $this->htmlEscape($_image->getLabel()) ?>" />
                                </a>
                            </div>
                        <?php endif;?>
                    <?php endforeach; ?>
                </div>
                <script type="text/javascript">
                    jQuery(document).ready(function($){
                        try{
                            var _opts = $.parseJSON('<?php echo json_encode($config_slider_array);?>'),
                                extra = {
                                    prevArrow : '<?php echo $btn_slider_prev?>',
                                    nextArrow : '<?php echo $btn_slider_next?>'
                                };
                            var opts = $.extend(_opts, extra);
                            $('.arw-slick-slider').slick(opts);
                            $('.cloud-zoom-gallery').on('click',function(e){
                                <?php if(!$enable_zoom):?>
                                e.preventDefault();
                                $('#arw-zoom').attr('href',$(this).attr('href'));
                                $('#arw-zoom > img').attr('src',$(this).attr('data-detail-image'));
                                <?php endif;?>
                                $('.cloud-zoom-gallery').removeClass('selected');
                                $(this).addClass('selected');
                            });
                            $('.more-views .thumbnail-item.slick-slide.slick-active').first().find('.cloud-zoom-gallery').addClass('selected');
                        }catch (ex){}
                    })
                </script>
            </div>
        <?php endif; ?>
        <?php if($s_position == 'top'):?>
            <div class="product-image arw-product-image">
                <?php if($show_countdown){
                    echo $theme_helper->show_product_countdown($_product);
                }?>
                <?php echo $theme_helper->getLabel($_product);?>
                <a href='<?php echo $this->helper('catalog/image')->init($_product, 'image');?>' class='cloud-zoom' id='arw-zoom' rel="<?php echo $config_zoom ?>">
                    <?php
                    $_img = '<img id="image" src="'.$this->helper('catalog/image')->init($_product, 'thumbnail')->resize($image_width,$image_height).'" alt="'.$this->escapeHtml($this->getImageLabel()).'" title="'.$this->escapeHtml($this->getImageLabel()).'" />';
                    echo $_helper->productAttribute($_product, $_img, 'thumbnail');
                    ?>
                </a>
            </div>
        <?php endif;?>
        <?php if($enable_popup):?>
            <script type="text/javascript">
                jQuery(document).ready(function($){
                    try {
                        $('.arw-product-image').click(function(e){
                            e.preventDefault();
                            var current_image = $(this).find('#image').attr('src');
                            var idx = 0;

                            $('.zoom-fancybox-button').each(function(index){
                                if( current_image == $(this).data('image')){
                                    idx = index;
                                }
                            });
                            $('.zoom-fancybox-button').eq(idx).trigger('click');
                        });
                        $('.zoom-fancybox-button').fancybox({
                            openEffect  : 'none',
                            closeEffect : 'none',
                            prevEffect : 'none',
                            nextEffect : 'none',
                            closeBtn  : false,
                            helpers : {
                                title : {
                                    type : 'inside'
                                },
                                buttons	: {}
                            }
                        });
                    }catch (ex){}
                })
            </script>
        <?php endif;?>
    </div>
<?php endif;?>
<?php echo $this->getChildHtml('after'); ?>