<?php
/*
 * Magento Product Next Previous Method.
 */
?>
<?php
$_version = Mage::getVersionInfo();
$_magento_version = (int) trim("{$_version['major']}{$_version['minor']}{$_version['revision']}");
if($_magento_version >= 181) :?>
<?php
    $_product = $this->getProduct();
    $items = NULL;
    if($this->helper('catalog/data')->getCategory()){
        $cat_ids = $_product->getCategoryIds();
        $cat = $this->helper('catalog/data')->getCategory();
        $order = 'position';
        $direction = 'asc';
        //$category_products = $cat->getProductCollection()->addAttributeToSort($order, $direction);
        $category_products = $cat->getProductCollection()->addAttributeToSort('position', 'asc');
        $category_products->addAttributeToFilter('status',1); // 1 or 2
        $category_products->addAttributeToFilter('visibility',4); // 1.2.3.4

        //$cat_prod_ids = $category_products->getAllIds(); // get all products from the category

        $items = $category_products->getItems();
        $cat_prod_ids = (array_keys( $items ) );

        $_product_id = $_product->getId();
        $_pos = array_search($_product_id, $cat_prod_ids); // get position of current product

        $_next_pos = $_pos+1;
        $_prev_pos = $_pos-1;

        // get the next product url
        if( isset($cat_prod_ids[$_next_pos]) ){
            $_next_prod = Mage::getModel('catalog/product')->load( $cat_prod_ids[$_next_pos] );
        }
        else{
            $_next_prod = Mage::getModel('catalog/product')->load( reset($cat_prod_ids) );
        }

        // get the prev product url
        if( isset($cat_prod_ids[$_prev_pos]) ){
            $_prev_prod = Mage::getModel('catalog/product')->load( $cat_prod_ids[$_prev_pos] );
        }
        else{
            $_prev_prod = Mage::getModel('catalog/product')->load( end($cat_prod_ids) );
        }

        if($_prev_prod != NULL){
            $prev_url = $_prev_prod->getProductUrl();
        }

        if($_next_prod != NULL){
            $next_url = $_next_prod->getProductUrl();
        }

        $_ccat = $this->helper('catalog/data')->getCategory(); //current category
        $more_url = $_ccat->getUrl(); //current category Url

    }
    ?>
    <?php if(count($items)>1 && !empty($_ccat)): ?>
        <div class="prev-next">
            <?php if(!empty($prev_url)): ?>
                <a class="product-previous" href="<?php echo $prev_url ?>"><i class="fa fa-angle-left"></i></a></li>
            <?php endif ?>
            <?php if(!empty($next_url)): ?>
                <a class="product-next" href="<?php echo $next_url ?>"><i class="fa fa-angle-right"></i></a></li>
            <?php endif ?>
        </div>
    <?php endif ?>
<?php endif;?>