<?php
/* * ****************************************************
 * Package   : Brand
 * Author    : ArexWorks
 * Copyright : (c) 2015
 * ***************************************************** */
?>
<?php
$_productStoreConfig = Mage::getStoreConfig('brand/product');
$_showRelatedProducts = $_productStoreConfig['show_related_products'];
?>
<?php if ($_showRelatedProducts): ?>
    <?php
    $_product = Mage::registry('product');
    $_brand = $this->getBrand($_product->getId());

    $_relatedProductsLimit = intval($_productStoreConfig['related_products_limit']) ? $_productStoreConfig['related_products_limit'] : 8;
    $_relatedProductsSortBy = $_productStoreConfig['related_products_sort_by'] ? $_productStoreConfig['related_products_sort_by'] : null;
    $_relatedProductsSortDir = $_productStoreConfig['related_products_sort_dir'] ? $_productStoreConfig['related_products_sort_dir'] : null;

    $_collection = $this->getRelatedProducts($_brand->getId(), $_relatedProductsLimit, 1, $_relatedProductsSortBy, $_relatedProductsSortDir);
    $_helper = $this->helper('catalog/output');

    $_listLayout = ($this->getData('list_layout')) ? $this->getData('list_layout') : "grid";
    if ($_listLayout == "grid") {
        $_columnsCount = ($this->getData('columns_count')) ? $this->getData('columns_count') : 4;
        $_ulClass = "products-related-grid products-grid products-grid--max-" . $_columnsCount . "-col";
    } else {
        $_ulClass = "products-list products-related-list";
    }
    $_showProductImage = ($this->getData('show_product_image') == "0") ? $this->getData('show_product_image') : 1;
    if ($_showProductImage) {
        $_imgWidth = ($this->getData('image_width')) ? $this->getData('image_width') : 300;
        $_imgHeight = ($this->getData('image_height')) ? $this->getData('image_height') : 300;
    }
    $_showProductTitle = ($this->getData('show_product_title') == "0") ? $this->getData('show_product_title') : 1;
    $_showProductPrice = ($this->getData('show_product_price') == "0") ? $this->getData('show_product_price') : 1;
    $_showProductRating = ($this->getData('show_product_rating') == "0") ? $this->getData('show_product_rating') : 1;
    $_showProductShortDescription = ($this->getData('show_product_short_description') == "0") ? $this->getData('show_product_short_description') : 1;
    $_showAddToCart = ($this->getData('show_add_to_cart') == "0") ? $this->getData('show_add_to_cart') : 1;
    $_showAddToWishlist = ($this->getData('show_add_to_wishlist') == "0") ? $this->getData('show_add_to_wishlist') : 1;
    $_showAddToCompare = ($this->getData('show_add_to_compare') == "0") ? $this->getData('show_add_to_compare') : 1;

    ?>
    <?php if (count($_collection)): ?>
        <div class="box-collateral box-brand-related">
            <h2><?php echo $this->__('Brand Related Products') ?></h2>

            <div class="category-products">
                <ul class="<?php echo $_ulClass; ?>" id="block-brand-related">
                    <?php foreach ($_collection as $_item): ?>
                        <li class="item">
                            <?php if ($_showProductImage): ?>
                                <a href="<?php echo $_item->getProductUrl() ?>"
                                   title="<?php echo $this->escapeHtml($_item->getName()) ?>" class="product-image">
                                    <img
                                        src="<?php echo $this->helper('catalog/image')->init($_item, 'thumbnail')->resize($_imgWidth, $_imgHeight) ?>"
                                        alt="<?php echo $this->escapeHtml($_item->getName()) ?>"/>
                                </a>
                            <?php endif; ?>
                            <div class="product-info">
                                <?php if ($_showProductTitle): ?>
                                    <h2 class="product-name"><a
                                            href="<?php echo $_item->getProductUrl() ?>"><?php echo $this->escapeHtml($_item->getName()) ?></a>
                                    </h2>
                                <?php endif; ?>
                                <?php if ($_showProductRating): ?>
                                    <?php echo $this->getReviewsSummaryHtml($_item, false, true) ?>
                                <?php endif; ?>
                                <?php if ($_showProductPrice): ?>
                                    <?php echo $this->getPriceHtml($_item, true, '-brand-related') ?>
                                <?php endif; ?>
                                <?php if ($_showProductShortDescription): ?>
                                    <div class="desc std">
                                        <?php $_productNameStripped = $this->stripTags($_item->getName(), null, true); ?>
                                        <?php $_productShortDescriptionStripped = $this->stripTags($_helper->productAttribute($_item, $_item->getShortDescription(), 'short_description'), null, true); ?>
                                        <?php echo $_productShortDescriptionStripped ?>
                                        <a href="<?php echo $_item->getProductUrl() ?>"
                                           title="<?php echo $_productNameStripped ?>"
                                           class="link-learn"><?php echo $this->__('Learn More') ?></a>
                                    </div>
                                <?php endif; ?>
                                <?php if ($_showAddToCart || $_showAddToWishlist || $_showAddToCompare): ?>
                                    <div class="actions">
                                        <?php if ($_item->isSaleable()): ?>
                                            <button type="button" title="<?php echo $this->__('Add to Cart') ?>"
                                                    class="button btn-cart"
                                                    onclick="setLocation('<?php echo $this->getAddToCartUrl($_item) ?>')">
                                                <span><span><?php echo $this->__('Add to Cart') ?></span></span>
                                            </button>
                                        <?php else: ?>
                                            <p class="availability out-of-stock">
                                                <span><?php echo $this->__('Out of stock') ?></span></p>
                                        <?php endif; ?>
                                        <?php if ($_showAddToWishlist || $_showAddToCompare): ?>
                                            <ul class="add-to-links">
                                                <?php if (($this->helper('wishlist')->isAllow()) && $_showAddToWishlist) : ?>
                                                    <li>
                                                        <a href="<?php echo $this->helper('wishlist')->getAddUrl($_item) ?>"
                                                           class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a>
                                                    </li>
                                                <?php endif; ?>
                                                <?php if (($_compareUrl = $this->getAddToCompareUrl($_item)) && $_showAddToCompare): ?>
                                                    <li><span class="separator">|</span> <a
                                                            href="<?php echo $_compareUrl ?>"
                                                            class="link-compare"><?php echo $this->__('Add to Compare') ?></a>
                                                    </li>
                                                <?php endif; ?>
                                            </ul>
                                        <?php endif; ?>
                                    </div>
                                <?php endif; ?>
                            </div>
                        </li>
                    <?php endforeach ?>
                </ul>
            </div>
        </div>
    <?php endif ?>
<?php endif ?>
