<?php
/* * ****************************************************
 * Package   : Brand
 * Author    : ArexWorks
 * Copyright : (c) 2015
 * ***************************************************** */
?>
<?php
$collection = $this->getBrandCollection();
$urlKey = $this->getUrlKey();
?>
<?php if (count($collection)): ?>
    <div class="brand-widget">
        <?php foreach ($collection as $brand): ?>
            <div class="brand">
                <a class="brand-image" title="<?php echo $brand->getTitle(); ?>"
                   href="<?php echo $this->getUrl() . $urlKey . '/' . $brand->getUrlKey(); ?>">
                    <?php if ($brand->getImage() != ''): ?>
                        <img width="135" height="135" alt="<?php echo $brand->getTitle(); ?>"
                             src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB) . 'media/' . $brand->getImage(); ?>">
                    <?php else: ?>
                        <img width="135" height="135" alt="<?php echo $brand->getTitle(); ?>"
                             src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB) . 'media/arw/brand/no_image.jpg'; ?>">
                    <?php endif; ?>
                </a>

                <h2 class="brand-title">
                    <a title="<?php echo $brand->getTitle(); ?>"
                       href="<?php echo $this->getUrl() . $urlKey . '/' . $brand->getUrlKey(); ?>"><?php echo $brand->getTitle(); ?></a>
                </h2>
            </div>
        <?php endforeach; ?>
    </div>
<?php endif; ?>
