/*
    Custom css
*/

.header-container.header_fixed_menu.active-sticky .nav-primary-container .sticky-logo {
	width: 70px
}
.footer-logo.text-center img {
    width: 159px;
    margin-bottom: 34px;
}
#toPopup .button {
    padding: 10px;
}
.newsletter-inline .block-subscribe .block-content .input-box .input-text {background: #fafafa}

.logo img {
    width: 70px;
}
span.texto-header {
    padding: 12px 15px;
    display: inline-block;
}