<!--@subject Bienvenido {{var customer.name}}! @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var customer.email":"Customer Email",
"htmlescape var=$customer.password":"Customer Password"}
@-->

<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:none; padding: 45px 60px 63px 60px;">
<!-- [ middle starts here] -->
    <tr>
        <td valign="top">
            <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;border-top:none;padding: 17px 0 0 0;color:#666666;">Estimado/a, {{htmlescape var=$customer.name}}!</h1>
            <p style="font-size:11px; line-height:16px; margin:0 0 36px 0;color:#666666;">Bienvenido a {{var store.getFrontendName()}}. Para acceder cuando visit&eacute;s nuestra web, simplemente hac&eacute; click en  <a href="{{store url="customer/account/"}}" style="color:#666666;font-weight:bold;">Acceder</a> o <a href="{{store url="customer/account/"}}" style="color:#666666;font-weight:bold;">Mi Cuenta</a> en la parte superior de cada p&aacute;gina y posteriormente escrib&iacute; tu e-mail y contrase&ntilde;a.</p>
            <p style="color: #b41c22;text-transform: uppercase;font-size: 11px;font-weight: bold;">Utiliz&aacute; los siguientes valores para acceder:</p>
            <p style="border-top: 1px solid #c0c0c0; color: #666666 !important; border-bottom: 1px solid #c0c0c0; font-size:12px; line-height:16px; margin:0; padding:13px 18px; font-size:11px;">
                <strong style="color: #666666 !important;font-weight: bold;font-size: 11px;font-family: Arial, Tahoma;">E-mail</strong>: {{var customer.email}}<br/>
                <p style="color: #b41c22;text-transform: uppercase;font-size: 11px;font-weight: bold;">Cuando accedas a tu cuenta podr&aacute;s realizar las siguientes funciones:</p>
                <ul style="font-size:12px; line-height:16px; margin:0 0 16px 0; padding:0;">
                    <li style="list-style:none inside; padding:0 0 0 10px;color:#666666;font-size:11px;"><span style="color:#D32128;">&raquo;</span> Realizar pedidos m&aacute;s rapidamente</li>
                    <li style="list-style:none inside; padding:0 0 0 10px;color:#666666;font-size:11px;"><span style="color:#D32128;">&raquo;</span> Comprobar el estado de sus pedidos</li>
                    <li style="list-style:none inside; padding:0 0 0 10px;color:#666666;font-size:11px;"><span style="color:#D32128;">&raquo;</span> Consultar el hist&oacute;rico de pedidos</li>
                    <li style="list-style:none inside; padding:0 0 0 10px;color:#666666;font-size:11px;"><span style="color:#D32128;">&raquo;</span> Realizar cambios en la informaci&oacute;n de su cuenta</li>
                    <li style="list-style:none inside; padding:0 0 0 10px;color:#666666;font-size:11px;"><span style="color:#D32128;">&raquo;</span> Cambiar su contrase&ntilde;a</li>
                </ul>
                <p style="font-size:12px;line-height:16px;margin:0;color:#666666;font-size:11px;">Si ten&eacute;s alguna pregunta sobre tu cuenta o cualquier otra inquietud, por favor mand&aacute;nos un mail a <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#666666;">{{config path='trans_email/ident_support/email'}}</a> .</p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
