<!--@subject Confirmación de reestablecimiento de contraseña de {{var customer.name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/resetpassword/\" _query_id=$customer.id _query_token=$customer.rp_token":"Reset Password URL"}
@-->

<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td valign="top">
            <h1 style="font-size: 22px; font-weight: normal; line-height: 22px; margin: 0 0 11px 0;">Estimado/a {{htmlescape var=$customer.name}},</h1>
            <p style="font-size: 12px; line-height: 16px; margin: 0;">Para modificar su contraseña hac&eacute; click en el siguiente link: <a href="{{store url="customer/account/resetpassword/" _query_id=$customer.id _query_token=$customer.rp_token}}" style="color:#1E7EC8;">{{store url="customer/account/resetpassword/" _query_id=$customer.id _query_token=$customer.rp_token}}</a></p>
            <p style="font-size: 12px; line-height: 16px; margin: 0;">Si el link no funciona, copi&aacute; y peg&aacute; el link en el navegador.</p>
            <br />
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
