<!-- navigation BOF -->
<div class="block block-nav">
    <div class="block-title">
        <strong><span><?php echo $this->getCategoryLabel(); ?></span></strong>
    </div>
    <div class="block-content">
        <ul id="categories_nav" class="nav-accordion nav-categories">
            <?php echo $this->renderCategoriesMenuHtml(TRUE, 0, 'level-top'); ?>
        </ul>
        <script type="text/javascript">
            jQuery(document).ready(function() {
                jQuery("#categories_nav").arwAccordionMenu({
                    accordion:true,
                    speed: 400,
                    closedSign: 'collapse',
                    openedSign: 'expand',
                    mouseType: 0,
                    easing: 'easeInOutQuad'
                });
            });
        </script>
    </div>
</div>
<!-- navigation EOF -->