<!-- navigation BOF -->
<?php 
$megaeffect     = Mage::getStoreConfig('base/menu/effect');
$_menu          = $this->renderCategoriesMenuHtml(FALSE, 0, 'level-top', 'sub-wrapper' );
$routeName      = Mage::app()->getRequest()->getRouteName();
$identifier     = Mage::getSingleton('cms/page')->getIdentifier();
?>
<div class="arw-menu arw-effect-slide">
    <div class="arw-menu-active">
			<div class="navbar-header">
				<div class="navbar-toggle" type="button" data-toggle="collapse">
					<div class="collapsed-icon pull-left">
						<span class="sr-only"><?php echo $this->__('Navigation');?></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</div>
					<span class="title-canvas"><?php echo $this->__('Menu');?></span>
					<button type="button" class="arw-close-canvas"></button>
				</div>
			</div>
	</div>
    <div class="sidebar">
        <ul id="arw_accordionmenu" class="nav-accordion nav-mobile-accordion">
            <li><a href="<?php echo $this->getBaseUrl(); ?>"><?php echo $this->__('Home'); ?></a></li>
            <?php echo $this->renderCategoriesMenuHtml(TRUE, 0, 'level-top'); ?>
        </ul>
        <script type="text/javascript">
            jQuery(document).ready(function() {
                jQuery("#arw_accordionmenu").arwAccordionMenu({
                    accordion:true,
                    speed: 400,
                    closedSign: 'collapse',
                    openedSign: 'expand',
                    mouseType: 0,
                    easing: 'easeInOutQuad'
                });
            });
        </script>
    </div>
</div>
<div class="site-overlay"></div>
