/*!
 * Chico UI v0.11
 * http://chico-ui.com.ar/
 *
 * Copyright (c) 2012, MercadoLibre.com
 * Released under the MIT license.
 * http://chico-ui.com.ar/license
 *
 * Team: Hernan Mammana, Leandro Linares, Guillermo Paz.
 */

/*
* Reset
* @based: Eric Meyer
*/



/*
* Global
*/



.ch-btn {
	font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
	font-size:13px;
	line-height:20px;
}

.lt-ie7 body {
	width: expression( (document.documentElement.clientWidth >1202)? "1200px": (document.documentElement.clientWidth <742)? "740px": "auto" );
}

/* IMPORTANT: .ch-hide class allows components to be shown and hidden*/

.ch-hide {
	display: none;
}

.ch-hidden {
	visibility: hidden;
}

/*
* Anchors
*/

a {
	color: #0637B3;
	text-decoration: none;
}

a:active {
	color: #0000DD;
}

a:visited {
	color: #800080;
}

a:hover,
a:focus {
	text-decoration: underline;
}

a img {
	border: none;
}

/*
* Typography
*/

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin-top: 10px;
}

/* Arial Headers*/
h1 {
	font-size: 20px;
}

h2 {
	font-size: 18px;
}

h3 {
	font-size: 16px;
}

h5 {
	font-size: 11px;
}

/*
* Price
*/

.ch-price {
	color: #900;
	font-size: 16px;
	font-weight: bold;
}

.ch-price sup {
	font-size: 10px;
	vertical-align: text-top;
	line-height: 1em;
}

.ch-price span {
	color: #999;
	font-size: 13px;
	font-weight: normal
}

.lt-ie9 .ch-price sup {
	font-size: 12px;
}

/*
* Misc
*/

hr {
	border: none;
	border-bottom: 1px dashed #CCC;
}

.lt-ie8 hr {
	height: 0;
}

/*
*  Icons
*/

@font-face {
	font-family: "icons";
	src: url('../assets/icons.eot');
	src: url('../assets/icons.eot?#iefix') format('embedded-opentype'),
		 url('../assets/icons.woff') format('woff'),
		 url('../assets/icons.ttf') format('truetype'),
		 url('../assets/icons.svg#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

.lt-ie8 [class*="ch-icon-"],
[class*="ch-icon-"]:before,
.ch-box-attention:before,
.ch-box-help:before,
.ch-box-information:before,
.ch-box-error:before,
.ch-box-ok:before {
	font-family: icons;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	vertical-align: middle;
	margin-right: 0.2em;
	line-height: 1em;
	font-size: 1.5em;
}

/*  Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
    readers do not read off random characters that represent icons */
.ch-icon-search:before               { content: "\f002"; }
.ch-icon-heart:before                { content: "\f004"; }
.ch-icon-star:before                 { content: "\f005"; }
.ch-icon-star-empty:before           { content: "\f006"; }
.ch-icon-user:before                 { content: "\f007"; }
.ch-icon-th-large:before             { content: "\f009"; }
.ch-icon-th:before                   { content: "\f00a"; }
.ch-icon-th-list:before              { content: "\f00b"; }
.ch-icon-ok:before                   { content: "\f00c"; }
.ch-icon-remove:before               { content: "\f00d"; }
.ch-icon-zoom-in:before              { content: "\f00e"; }
.ch-icon-zoom-out:before             { content: "\f010"; }
.ch-icon-cog:before                  { content: "\f013"; }
.ch-icon-trash:before                { content: "\f014"; }
.ch-icon-time:before                 { content: "\f017"; }
.ch-icon-repeat:before               { content: "\f01e"; }
/* \f020 is not a valid unicode character. all shifted one down */
.ch-icon-refresh:before              { content: "\f021"; }
.ch-icon-print:before                { content: "\f02f"; }
.ch-icon-camera:before               { content: "\f030"; }
.ch-icon-pencil:before               { content: "\f040"; }
.ch-icon-map-marker:before           { content: "\f041"; }
.ch-icon-move:before                 { content: "\f047"; }
.ch-icon-chevron-left:before         { content: "\f053"; }
.ch-icon-chevron-right:before        { content: "\f054"; }
.ch-icon-plus-sign:before            { content: "\f055"; }
.ch-icon-minus-sign:before           { content: "\f056"; }
.ch-icon-remove-sign:before          { content: "\f057"; }
.ch-icon-ok-sign:before              { content: "\f058"; }
.ch-icon-question-sign:before        { content: "\f059"; }
.ch-icon-info-sign:before            { content: "\f05a"; }
.ch-icon-ban-circle:before           { content: "\f05e"; }
.ch-icon-arrow-left:before           { content: "\f060"; }
.ch-icon-arrow-right:before          { content: "\f061"; }
.ch-icon-arrow-up:before             { content: "\f062"; }
.ch-icon-arrow-down:before           { content: "\f063"; }
.ch-icon-plus:before                 { content: "\f067"; }
.ch-icon-minus:before                { content: "\f068"; }
.ch-icon-exclamation-sign:before     { content: "\f06a"; }
.ch-icon-warning-sign:before         { content: "\f071"; }
.ch-icon-calendar:before             { content: "\f073"; }
.ch-icon-comment:before              { content: "\f075"; }
.ch-icon-chevron-up:before           { content: "\f077"; }
.ch-icon-chevron-down:before         { content: "\f078"; }
.ch-icon-key:before                  { content: "\f084"; }
.ch-icon-comments:before             { content: "\f086"; }
.ch-icon-lock:before                 { content: "\f023"; }
.ch-icon-unlock:before               { content: "\f09c"; }
.ch-icon-wrench:before               { content: "\f0ad"; }
.ch-icon-group:before                { content: "\f0c0"; }
.ch-icon-copy:before                 { content: "\f0c5"; }
.ch-icon-paper-clip:before           { content: "\f0c6"; }
.ch-icon-reorder:before              { content: "\f0c9"; }
.ch-icon-truck:before                { content: "\f0d1"; }
.ch-icon-caret-down:before           { content: "\f0d7"; }
.ch-icon-caret-up:before             { content: "\f0d8"; }
.ch-icon-caret-left:before           { content: "\f0d9"; }
.ch-icon-caret-right:before          { content: "\f0da"; }
.ch-icon-sort:before                 { content: "\f0dc"; }
.ch-icon-sort-down:before            { content: "\f0dd"; }
.ch-icon-sort-up:before              { content: "\f0de"; }
.ch-icon-envelope-alt:before         { content: "\f0e0"; }
.ch-icon-undo:before                 { content: "\f0e2"; }
.ch-icon-comment-alt:before          { content: "\f0e5"; }
.ch-icon-comments-alt:before         { content: "\f0e6"; }

.lt-ie8 .ch-icon-search { *zoom: expression( this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xf002;&nbsp;');}
.lt-ie8 .ch-icon-heart { *zoom: expression( this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xf004;&nbsp;');}
.lt-ie8 .ch-icon-star { *zoom: expression( this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xf005;&nbsp;');}
.lt-ie8 .ch-icon-star-empty { *zoom: expression( this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xf006;&nbsp;');}
.lt-ie8 .ch-icon-user { *zoom: expression( this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xf007;&nbsp;');}
.lt-ie8 .ch-icon-th-large { *zoom: expression( this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xf009;&nbsp;');}
.lt-ie8 .ch-icon-th { *zoom: expression( this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xf00a;&nbsp;');}
.lt-ie8 .ch-icon-th-list { *zoom: expression( this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xf00b;&nbsp;');}
.lt-ie8 .ch-icon-ok { *zoom: expression( this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xf00c;&nbsp;');}
.lt-ie8 .ch-icon-remove { *zoom: expression( this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xf00d;&nbsp;');}
.lt-ie8 .ch-icon-zoom-in { *zoom: expression( this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xf00e;&nbsp;');}
.lt-ie8 .ch-icon-zoom-out { *zoom: expression( this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xf010;&nbsp;');}
.lt-ie8 .ch-icon-cog { *zoom: expression( this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xf013;&nbsp;');}
.lt-ie8 .ch-icon-trash { *zoom: expression( this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xf014;&nbsp;');}
.lt-ie8 .ch-icon-time { *zoom: expression( this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xf017;&nbsp;');}
.lt-ie8 .ch-icon-repeat { *zoom: expression( this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xf01e;&nbsp;');}
/* \f020 is not a valid unicode character. all shifted one down */
.lt-ie8 .ch-icon-refresh { *zoom: expression( this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xf021;&nbsp;');}
.lt-ie8 .ch-icon-print { *zoom: expression( this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xf02f;&nbsp;');}
.lt-ie8 .ch-icon-camera { *zoom: expression( this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xf030;&nbsp;');}
.lt-ie8 .ch-icon-pencil { *zoom: expression( this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xf040;&nbsp;');}
.lt-ie8 .ch-icon-map-marker { *zoom: expression( this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xf041;&nbsp;');}
.lt-ie8 .ch-icon-move { *zoom: expression( this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xf047;&nbsp;');}
.lt-ie8 .ch-icon-chevron-left { *zoom: expression( this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xf053;&nbsp;');}
.lt-ie8 .ch-icon-chevron-right { *zoom: expression( this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xf054;&nbsp;');}
.lt-ie8 .ch-icon-plus-sign { *zoom: expression( this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xf055;&nbsp;');}
.lt-ie8 .ch-icon-minus-sign { *zoom: expression( this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xf056;&nbsp;');}
.lt-ie8 .ch-icon-remove-sign { *zoom: expression( this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xf057;&nbsp;');}
.lt-ie8 .ch-icon-ok-sign { *zoom: expression( this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xf058;&nbsp;');}
.lt-ie8 .ch-icon-question-sign { *zoom: expression( this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xf059;&nbsp;');}
.lt-ie8 .ch-icon-info-sign { *zoom: expression( this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xf05a;&nbsp;');}
.lt-ie8 .ch-icon-ban-circle { *zoom: expression( this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xf05e;&nbsp;');}
.lt-ie8 .ch-icon-arrow-left { *zoom: expression( this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xf060;&nbsp;');}
.lt-ie8 .ch-icon-arrow-right { *zoom: expression( this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xf061;&nbsp;');}
.lt-ie8 .ch-icon-arrow-up { *zoom: expression( this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xf062;&nbsp;');}
.lt-ie8 .ch-icon-arrow-down { *zoom: expression( this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xf063;&nbsp;');}
.lt-ie8 .ch-icon-plus { *zoom: expression( this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xf067;&nbsp;');}
.lt-ie8 .ch-icon-minus { *zoom: expression( this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xf068;&nbsp;');}
.lt-ie8 .ch-icon-exclamation-sign { *zoom: expression( this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xf06a;&nbsp;');}
.lt-ie8 .ch-icon-warning-sign { *zoom: expression( this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xf071;&nbsp;');}
.lt-ie8 .ch-icon-calendar { *zoom: expression( this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xf073;&nbsp;');}
.lt-ie8 .ch-icon-comment { *zoom: expression( this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xf075;&nbsp;');}
.lt-ie8 .ch-icon-chevron-up { *zoom: expression( this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xf077;&nbsp;');}
.lt-ie8 .ch-icon-chevron-down { *zoom: expression( this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xf078;&nbsp;');}
.lt-ie8 .ch-icon-key { *zoom: expression( this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xf084;&nbsp;');}
.lt-ie8 .ch-icon-comments { *zoom: expression( this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xf086;&nbsp;');}
.lt-ie8 .ch-icon-lock:before { *zoom: expression( this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xf023;&nbsp;');}
.lt-ie8 .ch-icon-unlock { *zoom: expression( this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xf09c;&nbsp;');}
.lt-ie8 .ch-icon-wrench { *zoom: expression( this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xf0ad;&nbsp;');}
.lt-ie8 .ch-icon-group { *zoom: expression( this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xf0c0;&nbsp;');}
.lt-ie8 .ch-icon-copy { *zoom: expression( this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xf0c5;&nbsp;');}
.lt-ie8 .ch-icon-paper-clip { *zoom: expression( this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xf0c6;&nbsp;');}
.lt-ie8 .ch-icon-reorder { *zoom: expression( this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xf0c9;&nbsp;');}
.lt-ie8 .ch-icon-truck { *zoom: expression( this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xf0d1;&nbsp;');}
.lt-ie8 .ch-icon-caret-down { *zoom: expression( this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xf0d7;&nbsp;');}
.lt-ie8 .ch-icon-caret-up { *zoom: expression( this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xf0d8;&nbsp;');}
.lt-ie8 .ch-icon-caret-left { *zoom: expression( this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xf0d9;&nbsp;');}
.lt-ie8 .ch-icon-caret-right { *zoom: expression( this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xf0da;&nbsp;');}
.lt-ie8 .ch-icon-sort { *zoom: expression( this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xf0dc;&nbsp;');}
.lt-ie8 .ch-icon-sort-down { *zoom: expression( this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xf0dd;&nbsp;');}
.lt-ie8 .ch-icon-sort-up { *zoom: expression( this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xf0de;&nbsp;');}
.lt-ie8 .ch-icon-envelope-alt { *zoom: expression( this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xf0e0;&nbsp;');}
.lt-ie8 .ch-icon-undo { *zoom: expression( this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xf0e2;&nbsp;');}
.lt-ie8 .ch-icon-comment-alt { *zoom: expression( this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xf0e5;&nbsp;');}
.lt-ie8 .ch-icon-comments-alt:before { *zoom: expression( this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xf0e6;&nbsp;');}

/*
* List
*/

.ch-list {
	margin-bottom:10px;
}

.ch-list li {
	margin-left:10px;
	padding:3px 0;
	line-height: 18px;
}

ul.ch-list {
	list-style: disc inside;
}

ol.ch-list {
	list-style: decimal inside;
}

dl.ch-list {
  margin-bottom: 18px;
}
dl.ch-list dt,
dl.ch-list dd {
  line-height: 18px;
}
dl.ch-list dt {
  font-weight: bold;
}
dl.ch-list dd {
  margin-left: 9px;
}


/*
* Buttons
*/

/* Global */
[class*="ch-btn"],
[class*="ch-btn"]:focus {
	border-radius: 4px;
	-webkit-box-shadow: none;
	box-shadow: none;
	cursor: pointer;
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.384em;
	height: auto;
	line-height: 1.199em;
	padding: 0.305em 0.777em;
	text-decoration: none;
}

/* Focus */
[class*="ch-btn"]:focus,
input[type="button"]:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="file"]::-webkit-file-upload-button:focus,
button:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

/* Colors */
.ch-btn,
.ch-btn:focus,
.ch-btn:visited {
	background-color: #2C3176;
	background-image: -webkit-linear-gradient(#4055A5, #283077);
	background-image: -moz-linear-gradient(#4055A5, #283077);
	background-image: -o-linear-gradient(#4055A5, #283077);
	background-image: linear-gradient(#4055A5, #283077);
	-webkit-box-shadow: inset 0px 1px rgba(186, 206, 255, .6);
	box-shadow: inset 0px 1px rgba(186, 206, 255, .6);
	border: 1px solid #2C3176;
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
}

.lt-ie10 .ch-btn,
.lt-ie10 .ch-btn:focus,
.lt-ie10 .ch-btn:visited {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4055A5', endColorstr='#283077');
}

.ch-btn-skin,
.ch-btn-skin:focus,
.ch-btn-skin:visited {
	background-color: #C0DAEC;
	background-image: -webkit-linear-gradient(#D0E6F8, #A6CDEE);
	background-image: -moz-linear-gradient(#D0E6F8, #A6CDEE);
	background-image: -o-linear-gradient(#D0E6F8, #A6CDEE);
	background-image: linear-gradient(#D0E6F8, #A6CDEE);
	border: 1px solid #79a8c7;
	-webkit-box-shadow: inset 0px 1px rgba(255, 255, 255, .9);
	box-shadow: inset 0px 1px rgba(255, 255, 255, .9);
	color: #476274;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}

.lt-ie10 .ch-btn-skin,
.lt-ie10 .ch-btn-skin:focus,
.lt-ie10 .ch-btn-skin:visited {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D0E6F8', endColorstr='#A6CDEE');
}


/* Hover */
.ch-btn:hover,
.ch-btn-skin:hover {
	text-decoration: none;
}

/* Colors on Hover */
.ch-btn:hover {
	background-color: #4255D4;
	background-image: -webkit-linear-gradient(#4255D4, #2F33AE);
	background-image: -moz-linear-gradient(#4255D4, #2F33AE);
	background-image: -o-linear-gradient(#4255D4, #2F33AE);
	background-image: linear-gradient(#4255D4, #2F33AE);
	-webkit-box-shadow: inset 0px 1px rgba(191, 202, 255, 0.8);
	box-shadow: inset 0px 1px rgba(191, 202, 255, 0.8);
}

.lt-ie10 .ch-btn:hover {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4255D4', endColorstr='#2F33AE');
}

.ch-btn-skin:hover {
	background-color: #DCECFB;
	background-image: -webkit-linear-gradient(#DCECFB, #C2DDF5);
	background-image: -moz-linear-gradient(#DCECFB, #C2DDF5);
	background-image: -o-linear-gradient(#DCECFB, #C2DDF5);
	background-image: linear-gradient(#DCECFB, #C2DDF5);
}

.lt-ie10 .ch-btn-skin:hover {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DCECFB', endColorstr='#C2DDF5');
}

/* Colors on Active */
.ch-btn:active {
	background-color: #2C3176;
	background-image: -webkit-linear-gradient(#1C2662, #171B3F);
	background-image: -moz-linear-gradient(#1C2662, #171B3F);
	background-image: -o-linear-gradient(#1C2662, #171B3F);
	background-image: linear-gradient(#1C2662, #171B3F);
	-webkit-box-shadow: inset 0px 1px rgba(0, 0, 0, 0.8);
	box-shadow: inset 0px 1px rgba(0, 0, 0, 0.8);
	color: #eee;
}

.lt-ie10 .ch-btn:active {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1C2662', endColorstr='#171B3F');
}

.ch-btn-skin:active {
	background-color: #C8E5F7;
	background-image: -webkit-linear-gradient(#A3C9E1, #79B5DC);
	background-image: -moz-linear-gradient(#A3C9E1, #79B5DC);
	background-image: -o-linear-gradient(#A3C9E1, #79B5DC);
	background-image: linear-gradient(#A3C9E1, #79B5DC);
	-webkit-box-shadow: inset 0px 1px rgba(143, 176, 196, 0.9);
	box-shadow: inset 0px 1px rgba(143, 176, 196, 0.9);
	color: #476274;
}

.lt-ie10 .ch-btn-skin:active {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A3C9E1', endColorstr='#79B5DC');
}


/* Size */

/* Big */
.ch-btn-big,
.ch-btn-big:focus {
	font-size: 1.461em;
	padding: 0.473em 0.842em;
}

.ch-btn,
.ch-btn:focus{

}

/* Small */
.ch-btn-small,
.ch-btn-small:focus {
	font-size: 0.923em;
	padding: 0.458em 0.833em;
}

/* Tiny */
.ch-btn-tiny,
.ch-btn-tiny:focus {
	font-size: 0.846em;
	padding: 0.5em 0.727em;
}

input.ch-btn::-moz-focus-inner,
input.ch-btn-big::-moz-focus-inner,
input.ch-btn-small::-moz-focus-inner,
input.ch-btn-tiny::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.ie7 input.ch-btn {
	line-height: 0.85em;
}

.ie7 input.ch-btn,
.ie7 input.ch-btn-big,
.ie7 input.ch-btn-small,
.ie7 input.ch-btn-tiny{
	overflow: visible;
	width: 1;
}

/* Disabled */
[class*="ch-btn"].ch-btn-disabled,
.ch-btn-disabled:hover,
.ch-btn-disabled:active,
.ch-btn-disabled:focus,
[class*="ch-btn"][disabled],
[class*="ch-btn"][disabled]:hover,
[class*="ch-btn"][disabled]:active,
[class*="ch-btn"][disabled]:focus {
	background-color: #CCC;
	background-image: -webkit-linear-gradient(#FFF, #CCC);
	background-image: -moz-linear-gradient(#FFF, #CCC);
	background-image: -o-linear-gradient(#FFF, #CCC);
	background-image: linear-gradient(#FFF, #CCC);
	border: 1px solid #999999 !important; /* important for links */
	-webkit-box-shadow: inset 0px 1px rgba(240, 240, 240, 1);
	box-shadow: inset 0px 1px rgba(240, 240, 240, 1);
	color: #999999 !important; /* important for links */
	cursor: not-allowed;
	opacity: 0.5;
	text-shadow: none;
}

.lt-ie10 .ch-btn.ch-btn-disabled,
.lt-ie10 .ch-btn-skin.ch-btn-disabled,
.lt-ie10 .ch-btn-disabled:hover,
.lt-ie10 .ch-btn-disabled:active,
.lt-ie10 .ch-btn-disabled:focus,
.lt-ie10 [class*="ch-btn"][disabled],
.lt-ie10 [class*="ch-btn"][disabled]:hover,
.lt-ie10 [class*="ch-btn"][disabled]:active,
.lt-ie10 [class*="ch-btn"][disabled]:focus {
	filter: alpha(opacity=50);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#CCCCCC');
}

.ie8 [class*="ch-btn"]:focus,
.ie8 input[type="button"]:focus,
.ie8 input[type="submit"]:focus,
.ie8 input[type="reset"]:focus,
.ie8 input[type="file"]:focus,
.ie8 button:focus {
	outline: thin dotted;
	outline-offset: -2px;
}


/* Close*/
.ch-close {
	background-color: #EBEBEB;
	background-image: -webkit-linear-gradient(#FFFFFF, #EBEBEB);
	background-image: -moz-linear-gradient(#FFFFFF, #EBEBEB);
	background-image: -o-linear-gradient(#FFFFFF, #EBEBEB);
	background-image: linear-gradient(#FFFFFF, #EBEBEB);
	border: 1px solid #CCCCCC;
	border-radius: 3px;
	cursor: pointer;
	padding: 0;
	display: inline-block;
	height: 15px;
	width: 15px;
	color: #898989;
	font-size: 18px;
	line-height: 15px;
	text-shadow: 0 1px 0 #ffffff;
	text-indent: 1px;
	font-family: Arial;
	text-align:center;

	position: absolute;

        right:22px;
        top:17px;
        z-index:1002;
}

.ch-close2.ch-close {
	background-color: #EBEBEB;
	background-image: -webkit-linear-gradient(#FFFFFF, #EBEBEB);
	background-image: -moz-linear-gradient(#FFFFFF, #EBEBEB);
	background-image: -o-linear-gradient(#FFFFFF, #EBEBEB);
	background-image: linear-gradient(#FFFFFF, #EBEBEB);
	border: 1px solid #CCCCCC;
	border-radius: 3px;
	cursor: pointer;
	padding: 0;
	display: inline-block;
	height: 15px;
	width: 15px;
	color: #898989;
	font-size: 18px;
	line-height: 15px;
	text-shadow: 0 1px 0 #ffffff;
	text-indent: 1px;
	font-family: Arial;
	text-align:center;
	position: absolute;
	right:22px;
        top:17px;
}

.ie9 .ch-close {
	line-height: 16px;
}

.lt-ie10 .ch-close {
	text-indent: 0;
}

.ch-close:hover,
.ch-close:focus,
.ch-close:active {
	border-color: #B00000;
	text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}

.ch-close:hover,
.ch-close:focus {
	color: #FFFFFF;
	background-color: #EF1D00;
	background-image: -webkit-linear-gradient(#F04100, #EF1D00);
	background-image: -moz-linear-gradient(#F04100, #EF1D00);
	background-image: -o-linear-gradient(#F04100, #EF1D00);
	background-image: linear-gradient(#F04100, #EF1D00);
	text-decoration: none;
}

.ch-close:active {
	color: #eee;
	background-color:#BE1803;
	background-image: none;
}

/* IE */
.lt-ie10 .ch-close {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#EBEBEB');
}

.lt-ie10 .ch-close:hover,
.lt-ie10 .ch-close:focus {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F04100', endColorstr='#EF1D00');
}


/*
* Boxes
*/

[class*="ch-box"] h1,
[class*="ch-box"] h2,
[class*="ch-box"] h3,
[class*="ch-box"] h4
[class*="ch-box"] h5,
[class*="ch-box"] h6 {
	margin-top: 0;
	margin-bottom: 10px;
}

[class*="ch-box"] {
	padding: 10px;
	margin: 0 0 10px 0;
}

.ch-box-container,
.ch-box-lite,
.ch-box {
	background-color: #FFFFFF;
}

.ch-box-lite,
.ch-box {
	border: 1px solid #CCC;
	border-radius: 5px;
}

.ch-box {
	background-image: -webkit-linear-gradient(#F0F0F0, #FFFFFF 25px);
	background-image: -moz-linear-gradient(#F0F0F0, #FFFFFF 25px);
	background-image: -o-linear-gradient(#F0F0F0, #FFFFFF 25px);
	background-image: linear-gradient(#F0F0F0, #FFFFFF 25px);
	-webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.75);
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.75);
}

.ch-box-container > .ch-box:first-of-type,
.ch-box-container > .ch-box-lite:first-of-type {
	border-radius: 5px 5px 0 0;
}

.ch-box-container .ch-box,
.ch-box-container .ch-box-lite {
	border-radius: 0;
}

.lt-ie7 [class*="ch-box"] {
	z-index: 1; /* Fix z-index property */
}

/* Message boxes */
.ch-box-attention,
.ch-box-error,
.ch-box-help,
.ch-box-information,
.ch-box-ok {
	border-radius: 3px;
	border-style: solid;
	border-width: 1px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	position: relative;
	padding-left: 35px;
}

.lt-ie8 .ch-box-attention,
.lt-ie8 .ch-box-error,
.lt-ie8 .ch-box-help,
.lt-ie8 .ch-box-information,
.lt-ie8 .ch-box-ok {
	position: static;
	background-image: url("../assets/icons.png");
	background-repeat: no-repeat;
}

.ch-box-attention:before,
.ch-box-help:before,
.ch-box-information:before,
.ch-box-error:before,
.ch-box-ok:before {
	position: absolute;
	top: 12px;
	left: 10px;
}

.ch-box-attention,
.ch-box-attention:before {
	background-color: #FCF8CB;
	border-color: #E4E2B8;
	color: #9D7D00;
}

.ch-box-attention:before {
	content: "\f071";
}

.lt-ie8 .ch-box-attention {
	background-position: -21px -84px;
}

.ch-box-error {
	background-color:#fbd9db;
	border-color: #f7a9ae;
	color:#600;
}

.ch-box-error:before {
	content: "\f057";
}

.lt-ie8 .ch-box-error {
	background-position: -117px 13px;
}

.ch-box-help,
.ch-box-help:before {
	background-color: #F6F9F3;
	border-color: #cccccc;
	color: #999;
}

.ch-box-help:before {
	content: "\f059";
}

.lt-ie8 .ch-box-help {
	background-position: -85px -19px;
}

.ch-box-information,
.ch-box-information:before {
	background-color: #E5EBFD;
	border-color: #A0B1DE;
	color: #2E48BC;
}

.ch-box-information:before {
	content: "\f05a";
}

.lt-ie8 .ch-box-information {
	background-position: -53px -51px;
}

.ch-box-ok,
.ch-box-ok:before {
	background-color: #E8FFD7;
	border-color: #C7DDBC;
	color: #487210;
}

.ch-box-ok:before {
	content: "\f058";
}

.lt-ie8 .ch-box-ok {
	background-position: 11px -115px;
}


.ch-actions {
	margin-top: 10px;
	text-align: center;
}

.lt-ie8 .ch-actions a {
	display: inline-block;
	margin-bottom: 5px;
}


/*
* Pagination
*/

.ch-pagination {
	clear: both;
	margin: 10px 0;
}

.ch-pagination li {
	display: inline-block;
	margin: 0px 4px;
}


.ch-pagination li a,
.ch-pagination li.ch-pagination-current a {
	border-radius: 3px;
	padding: 5px 8px;
	border: 1px solid #CCC;
	background-color: #FFF;
}

.ch-pagination li a:hover {
	color: #FFF;
	text-decoration: none;
	background-color: #0637b3;
	border: 1px solid #0637b3;
}

.ch-pagination li.ch-pagination-current a {
	border: 1px solid #ededed;
	background-color: #ededed;
	color: #0637b3;
	font-weight: bold;
}


.ch-pagination li:first-child a,
.ch-pagination li:last-child a {
	border-color: #FFFFFF;
}

.ch-pagination li:first-child a:hover,
.ch-pagination li:last-child a:hover {
	border-color: #0637b3;
}

.lt-ie8 .ch-pagination li {
	display: inline;
	zoom: 1;
	padding: 5px 2px;
}


/*
* Transitions
*/


.ch-loading {
	background-image: url('../assets/loading.gif');
	width: 44px;
	height: 44px;
	margin: 20px auto;
}

.ch-loading-small {
	background-image: url('../assets/loading_small.gif');
	width: 18px;
	height: 18px;
}


/*
* Tables
*/

.ch-datagrid {
	width: 100%;
	border: 1px solid #CECECE;
	text-align: left;
}

.ch-datagrid caption {
	text-align: left;
	font-weight: normal;
	margin: 10px 0;
	font-size: 18px;
}

.ch-datagrid thead tr {
	border-top: 1px solid #CECECE;
}

.ch-datagrid th {
	background-color: #EEEEEE;
	background-image: -webkit-linear-gradient(#F9F9F9, #EEEEEE);
	background-image: -moz-linear-gradient(#F9F9F9, #EEEEEE);
	background-image: -o-linear-gradient(#F9F9F9, #EEEEEE);
	background-image: linear-gradient(#F9F9F9, #EEEEEE);
	border-bottom: 1px solid #CECECE;
	border-left: 1px solid #CECECE;
	font-size: 11px;
	line-height: 26px;
	padding: 0 10px;
	text-align: left;
	text-shadow: 0 1px 0 #FFFFFF;
	vertical-align: middle;

}


.ch-datagrid th.ch-datagrid-selected {
	background: #dedede;
	display: block;
	position: relative;
	text-shadow: none;
}


.ch-datagrid th.ch-datagrid-selected .ch-datagrid-asc,
.ch-datagrid th.ch-datagrid-selected .ch-datagrid-desc {
	display: block;
	position: absolute;
	right: 10px;
	top: 0px;
	text-indent: -9999px;
}

.ch-datagrid th.ch-datagrid-selected .ch-datagrid-asc:after,
.ch-datagrid th.ch-datagrid-selected .ch-datagrid-desc:after {
	content: " ";
	position: absolute;
	right: 8px;
	top: 1em;
	width: 0;
	height: 0;
	border: solid transparent;
	border-width: 4px;
	margin-left: -4px;
}

.ch-datagrid th.ch-datagrid-selected .ch-datagrid-asc:after {
	border-top-color: #333;
}

.ch-datagrid th.ch-datagrid-selected .ch-datagrid-desc:after {
	border-bottom-color: #333;
	top: 7px;
}

.ch-datagrid th:first-child {
	border-left: none;
}

.ch-datagrid tr {
	border-top: 1px solid #EEE;
}

.ch-datagrid tr.ch-datagrid-selected {
	background-color: #FFC;
}

.ch-datagrid td {
	height: 40px;
	padding: 0 10px;
	vertical-align: middle;
}

.lt-ie10 .ch-datagrid thead tr {
	border: 1px solid #CECECE;
}

.lt-ie10 .ch-datagrid th.ch-datagrid-selected {
	filter: none;
	border: 1px solid #CECECE;
}


.lt-ie10 .ch-datagrid thead tr {
	border: 1px solid #CECECE;
}

.lt-ie10 .ch-datagrid td {
	border-top: 1px solid #EEE;
}

.lt-ie8 .ch-datagrid th.ch-datagrid-selected .ch-datagrid-asc,
.lt-ie8 .ch-datagrid th.ch-datagrid-selected .ch-datagrid-desc {
	display: block;
	width: 7px;
	height: 4px;
	overflow: hidden;
	position: absolute;
	right: 10px;
	text-indent: 99px;
	top: 12px;
}

.lt-ie8 .ch-datagrid th.ch-datagrid-selected .ch-datagrid-asc {
	background: transparent url("../assets/shapes.png") 0 -51px no-repeat;
}

.lt-ie8 .ch-datagrid th.ch-datagrid-selected .ch-datagrid-desc {
	background: transparent url("../assets/shapes.png") 0 -48px no-repeat;
}



/*
* Clear Fix
* @based: http://perishablepress.com/press/2009/12/06/new-clearfix-hack/
*/


.ch-clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

/* IE6 */
* html .ch-clearfix {
	zoom: 1;
}

/* IE7 */
*:first-child+html .ch-clearfix {
	zoom: 1;
}

/*  do not select text  */
.ch-user-no-select {
	-o-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}


/*.ch-cone [class^="ch-"][class$="-content"] {
	background: red !important;
}*/

.ch-cone [class^="ch-"][class$="-content"]:after,
.ch-cone [class^="ch-"][class$="-content"]:before {
	/* border transparent bug on FF: http://stackoverflow.com/a/6225439 */
	border: outset transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	display: block;
}

.ch-cone [class^="ch-"][class$="-content"]:after {
	border-width: 8px;
}

.ch-cone [class^="ch-"][class$="-content"]:before {
	border-width: 9px;
}

.ch-cone.ch-points-ctcb [class^="ch-"][class$="-content"]:after,
.ch-cone.ch-points-cbct [class^="ch-"][class$="-content"]:after,
.ch-cone.ch-points-ctcb [class^="ch-"][class$="-content"]:before,
.ch-cone.ch-points-cbct [class^="ch-"][class$="-content"]:before {
	left: 50%;
}

.ch-cone.ch-points-lmrm [class^="ch-"][class$="-content"]:after,
.ch-cone.ch-points-rmlm [class^="ch-"][class$="-content"]:after,
.ch-cone.ch-points-lmrm [class^="ch-"][class$="-content"]:before,
.ch-cone.ch-points-rmlm [class^="ch-"][class$="-content"]:before {
	top: 50%;
}

.ch-cone.ch-points-ctcb [class^="ch-"][class$="-content"]:after,
.ch-cone.ch-points-ctcb [class^="ch-"][class$="-content"]:before,
.ch-cone.ch-points-ltlb [class^="ch-"][class$="-content"]:after,
.ch-cone.ch-points-ltlb [class^="ch-"][class$="-content"]:before,
.ch-cone.ch-points-rtrb [class^="ch-"][class$="-content"]:after,
.ch-cone.ch-points-rtrb [class^="ch-"][class$="-content"]:before {
	bottom: 100%;
	border-bottom-style: solid;
}

.ch-cone.ch-points-cbct [class^="ch-"][class$="-content"]:after,
.ch-cone.ch-points-cbct [class^="ch-"][class$="-content"]:before,
.ch-cone.ch-points-lblt [class^="ch-"][class$="-content"]:after,
.ch-cone.ch-points-lblt [class^="ch-"][class$="-content"]:before,
.ch-cone.ch-points-rbrt [class^="ch-"][class$="-content"]:after,
.ch-cone.ch-points-rbrt [class^="ch-"][class$="-content"]:before {
	top: 100%;
	border-top-style: solid;
}

.ch-cone.ch-points-lmrm [class^="ch-"][class$="-content"]:after,
.ch-cone.ch-points-lmrm [class^="ch-"][class$="-content"]:before,
.ch-cone.ch-points-ltrt [class^="ch-"][class$="-content"]:after,
.ch-cone.ch-points-ltrt [class^="ch-"][class$="-content"]:before,
.ch-cone.ch-points-lbrb [class^="ch-"][class$="-content"]:after,
.ch-cone.ch-points-lbrb [class^="ch-"][class$="-content"]:before {
	right: 100%;
	border-right-style: solid;
}

.ch-cone.ch-points-rmlm [class^="ch-"][class$="-content"]:after,
.ch-cone.ch-points-rmlm [class^="ch-"][class$="-content"]:before,
.ch-cone.ch-points-rtlt [class^="ch-"][class$="-content"]:after,
.ch-cone.ch-points-rtlt [class^="ch-"][class$="-content"]:before,
.ch-cone.ch-points-rblb [class^="ch-"][class$="-content"]:after,
.ch-cone.ch-points-rblb [class^="ch-"][class$="-content"]:before {
	left: 100%;
	border-left-style: solid;
}

.ch-cone.ch-points-ltlb [class^="ch-"][class$="-content"]:after,
.ch-cone.ch-points-lblt [class^="ch-"][class$="-content"]:after {
	left: 8px;
}

.ch-cone.ch-points-ltlb [class^="ch-"][class$="-content"]:before,
.ch-cone.ch-points-lblt [class^="ch-"][class$="-content"]:before {
	left: 7px;
}

.ch-cone.ch-points-rtrb [class^="ch-"][class$="-content"]:after,
.ch-cone.ch-points-rbrt [class^="ch-"][class$="-content"]:after {
	right: 8px;
}

.ch-cone.ch-points-rtrb [class^="ch-"][class$="-content"]:before,
.ch-cone.ch-points-rbrt [class^="ch-"][class$="-content"]:before {
	right: 7px;
}

.ch-cone.ch-points-ltrt [class^="ch-"][class$="-content"]:after,
.ch-cone.ch-points-rtlt [class^="ch-"][class$="-content"]:after {
	top: 4px;
}

.ch-cone.ch-points-ltrt [class^="ch-"][class$="-content"]:before,
.ch-cone.ch-points-rtlt [class^="ch-"][class$="-content"]:before {
	top: 3px;
}

.ch-cone.ch-points-lbrb [class^="ch-"][class$="-content"]:after,
.ch-cone.ch-points-rblb [class^="ch-"][class$="-content"]:after {
	bottom: 4px;
}

.ch-cone.ch-points-lbrb [class^="ch-"][class$="-content"]:before,
.ch-cone.ch-points-rblb [class^="ch-"][class$="-content"]:before {
	bottom: 3px;
}

.ch-cone.ch-points-ctcb [class^="ch-"][class$="-content"]:after,
.ch-cone.ch-points-cbct [class^="ch-"][class$="-content"]:after {
	margin-left: -8px;
}

.ch-cone.ch-points-lmrm [class^="ch-"][class$="-content"]:after,
.ch-cone.ch-points-rmlm [class^="ch-"][class$="-content"]:after {
	margin-top: -8px;
}

.ch-cone.ch-points-ctcb [class^="ch-"][class$="-content"]:before,
.ch-cone.ch-points-cbct [class^="ch-"][class$="-content"]:before {
	margin-left: -9px;
}

.ch-cone.ch-points-lmrm [class^="ch-"][class$="-content"]:before,
.ch-cone.ch-points-rmlm [class^="ch-"][class$="-content"]:before {
	margin-top: -9px;
}

.ch-dimmer {
	background-color:rgba(0,0,0,.5);
	width:100%;
	height:100%;
	position:fixed;
	left:0;
	top:0;
}

.ch-transition p {
    text-align: center;
}


.ch-modal, .ch-transition {
	background-color: #fff;
	background-image: none;
	overflow:hidden;
	width:500px;
	-webkit-box-shadow: 2px 2px 2px rgba(100, 100, 100, .1);
	box-shadow: 2px 2px 2px rgba(100, 100, 100, .1);
}


.ch-modal h2 {
    font:20px "Trebuchet MS", Verdana, "DejaVu Sans", sans-serif;
	border-bottom:1px solid #ccc;
	padding-bottom:5px;
	margin-bottom:10px;
}

/* IE */
.lt-ie7 .ch-dimmer {
	filter:alpha(opacity=50) !important;
	background-color: #000000;
	width: 150%;
}

* html.ie6  div.ch-modal,
* html.ie6 div.ch-transition {
	z-index: 150;
}

.ie7 .ch-dimmer,
.ie8 .ch-dimmer {
	background-color:#000;
	filter: alpha(opacity=50) !important;
}

.ie9 .ch-modal .ch-close {
	line-height: 18px;
	text-indent: 1px;
}

.ch-tooltip {
	font-size: 11px;
	background-color: #FCF8CB;
	border: 1px solid #E4E2B8;
	border-radius: 3px;
	-webkit-box-shadow: 2px 2px 2px rgba(100, 100, 100, .1);
	box-shadow: 2px 2px 2px rgba(100, 100, 100, .1);
	min-width: 30px;
	padding: 2px 5px;
}

/* Cone */
/* Bottom */
/* ltlb, ctcb, rtrb */
.ch-tooltip.ch-points-ltlb .ch-tooltip-content:after,
.ch-tooltip.ch-points-ctcb .ch-tooltip-content:after,
.ch-tooltip.ch-points-rtrb .ch-tooltip-content:after {
	border-bottom-color: #FCF8CB;
}
.ch-tooltip.ch-points-ltlb .ch-tooltip-content:before,
.ch-tooltip.ch-points-ctcb .ch-tooltip-content:before,
.ch-tooltip.ch-points-rtrb .ch-tooltip-content:before {
	border-bottom-color: #E4E2B8;
}

/* Top */
/* lblt, cbct, rbrt */
.ch-tooltip.ch-points-lblt .ch-tooltip-content:after,
.ch-tooltip.ch-points-cbct .ch-tooltip-content:after,
.ch-tooltip.ch-points-rbrt .ch-tooltip-content:after {
	border-top-color: #FCF8CB;
}
.ch-tooltip.ch-points-lblt .ch-tooltip-content:before,
.ch-tooltip.ch-points-cbct .ch-tooltip-content:before,
.ch-tooltip.ch-points-rbrt .ch-tooltip-content:before {
	border-top-color: #E4E2B8;
}

/* Right */
/* ltrt, lmrm, lbrb */
.ch-tooltip.ch-points-ltrt .ch-tooltip-content:after,
.ch-tooltip.ch-points-lmrm .ch-tooltip-content:after,
.ch-tooltip.ch-points-lbrb .ch-tooltip-content:after {
	border-right-color: #FCF8CB;
}
.ch-tooltip.ch-points-ltrt .ch-tooltip-content:before,
.ch-tooltip.ch-points-lmrm .ch-tooltip-content:before,
.ch-tooltip.ch-points-lbrb .ch-tooltip-content:before {
	border-right-color: #E4E2B8;
}

/* Left */
/* rtlt, rmlm, rblb */
.ch-tooltip.ch-points-rtlt .ch-tooltip-content:after,
.ch-tooltip.ch-points-rmlm .ch-tooltip-content:after,
.ch-tooltip.ch-points-rblb .ch-tooltip-content:after {
	border-left-color: #FCF8CB;
}

.ch-tooltip.ch-points-rtlt .ch-tooltip-content:before,
.ch-tooltip.ch-points-rmlm .ch-tooltip-content:before,
.ch-tooltip.ch-points-rblb .ch-tooltip-content:before {
	border-left-color: #E4E2B8;
}

/* IE */
.lt-ie8 .ch-tooltip-cone {
	background-image: url('../assets/shapes.png');
	display: block;
	position: absolute;
	width: 16px;
	height: 8px;
}

.lt-ie8 .ch-points-ltlb .ch-tooltip-cone,
.lt-ie8 .ch-points-ctcb .ch-tooltip-cone,
.lt-ie8 .ch-points-rtrb .ch-tooltip-cone {
	top: -8px;
	background-position: 0 -32px;
}

.lt-ie8 .ch-points-lblt .ch-tooltip-cone,
.lt-ie8 .ch-points-cbct .ch-tooltip-cone,
.lt-ie8 .ch-points-rbrt .ch-tooltip-cone {
	bottom: -8px;
	background-position: 0 -40px;
}

.lt-ie8 .ch-points-ltlb .ch-tooltip-cone,
.lt-ie8 .ch-points-lblt .ch-tooltip-cone {
	left: 8px;
}

.lt-ie8 .ch-points-ctcb .ch-tooltip-cone,
.lt-ie8 .ch-points-cbct .ch-tooltip-cone {
	left: 50%;
	margin-left: -8px;
}

.lt-ie8 .ch-points-rtrb .ch-tooltip-cone,
.lt-ie8 .ch-points-rbrt .ch-tooltip-cone {
	right: 8px;
}


.lt-ie8 .ch-points-ltrt .ch-tooltip-cone,
.lt-ie8 .ch-points-lmrm .ch-tooltip-cone,
.lt-ie8 .ch-points-lbrb .ch-tooltip-cone,
.lt-ie8 .ch-points-rtlt .ch-tooltip-cone,
.lt-ie8 .ch-points-rmlm .ch-tooltip-cone,
.lt-ie8 .ch-points-rblb .ch-tooltip-cone {
	width: 8px;
	height: 16px;
}

.lt-ie8 .ch-points-ltrt .ch-tooltip-cone,
.lt-ie8 .ch-points-lmrm .ch-tooltip-cone,
.lt-ie8 .ch-points-lbrb .ch-tooltip-cone {
	left: -8px;
	background-position: 0 -32px;
}

.lt-ie8 .ch-points-rtlt .ch-tooltip-cone,
.lt-ie8 .ch-points-rmlm .ch-tooltip-cone,
.lt-ie8 .ch-points-rblb .ch-tooltip-cone {
	right: -8px;
	background-position: -8px -32px;
}

.lt-ie8 .ch-points-ltrt .ch-tooltip-cone,
.lt-ie8 .ch-points-rtlt .ch-tooltip-cone {
	top: 4px;
}

.lt-ie8 .ch-points-lmrm .ch-tooltip-cone,
.lt-ie8 .ch-points-rmlm .ch-tooltip-cone {
	top: 50%;
	margin-top: -8px;
}

.lt-ie8 .ch-points-lbrb .ch-tooltip-cone,
.lt-ie8 .ch-points-rblb .ch-tooltip-cone  {
	bottom: 4px;
}



.lite #close-lite{
    display:none !important;
}

.ch-modal{
    vertical-align: middle;
    border: 5px solid #CCCCCC;
}

.mploading{
    margin-top:30px;
}


.ch-modal h1 {

 border-bottom: 1px solid #CCCCCC;
    font-size: 20px;
    font-weight: normal;
    line-height: 18px;
    margin-bottom: 20px;
    margin-top: 10px;
    padding-bottom: 10px;
    text-align: left;
}

.ch-btn, .ch-btn:focus, .ch-btn:visited {


    background-color: #2C3176;
    background-image: -moz-linear-gradient(#4055A5, #283077);
    border: 1px solid #2C3176;
    box-shadow: 0 1px rgba(186, 206, 255, 0.6) inset;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
}
[class*="ch-btn"], [class*="ch-btn"]:focus {
    border-radius: 4px 4px 4px 4px;
    box-shadow: none;
    cursor: pointer;
    display: inline-block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1.384em;
    height: auto;
    line-height: 1.199em;
    padding: 0.305em 0.777em;
    text-decoration: none;
}
.mp-input-text{
    border: 1px solid #CCCCCC;
    box-shadow: 1px 1px 1px rgba(204, 204, 204, 0.3) inset;
    margin: 5px 0;
    padding: 5px 4px;
}
.mploading p{
    margin-top: 8px;

}
.mp-methods{
    margin: 10px 10px 60px;
    text-align: left;
}
.mp-methods > dt {
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 15px;
}

#mpmodal a {
    color: #0637B3;
    text-decoration: none;
    margin-left: 10px;
}
#mpmodal a:hover{
    text-decoration: underline;
}

.close-white {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 60px;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    z-index: 1001;
}


@-moz-document url-prefix() {
  .ch-close {
     top: 12px;
  }
}

/* MP express custom */

.mpexpress-checkout-redirect .col-left,
.mpexpress-checkout-redirect .feedback-container{
	display: none !important;
}

.mpexpress-checkout-redirect .col-main{
	width: 100% !important;
	text-align: center;
}

.mpexpress-checkout-redirect .page{
	border-top: 0px !important;
}

.mpexpress-checkout-redirect .col-main .botao{
	width: 100%;
	text-align: center;
	border-top: solid 1px #ccc;
	padding-top: 40px;
	margin-top: -20px;
}

.mpexpress-checkout-redirect img.loading{
	margin-top: 100px;
}

.mpexpress-checkout-redirect img.mp-logo{
	margin-top: 100px;
}

.mpexpress-checkout-redirect p.redirect-msg{
	font-size: 20px;
	letter-spacing: 5px;
	margin-top: 10px;
	margin-bottom: 180px;
}

.mpexpress-checkout-redirect .col-main .botao .right,
.mpexpress-checkout-redirect .col-main .botao .left{
	width: 100%;
}

.mpexpress-checkout-redirect .col-main .botao h3{
    margin: 10px;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 30px !important;
    font-family: sans-serif;
}

.mpexpress-checkout-redirect .right a{
    background: #ccc;
    color: #fff;
    width: 110px;
    border-radius: 0px;
    border: none;
    padding: 8px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: normal;
    margin-top: 50px;
}

.mpexpress-checkout-redirect .ayuda-mp{
    text-align: left;
    margin-top: 60px;
    display: inline-block;
}

.mpexpress-checkout-redirect .ayuda-mp .ayuda-titulo{
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: bold;
}

.mpexpress-checkout-redirect .ayuda-mp .ayuda-contenido {
    margin-bottom: 50px;
}

.mpexpress-checkout-redirect .ayuda-mp .ayuda-contenido p{
	font-family: Georgia, sans-serif;
    font-style: italic;
    font-size: 17px;
    line-height: 25px;
    color: #666;
}

.mpexpress-checkout-redirect .col3-layout .col-main {
  width: 100% !important;
  text-align: center !important;
  font-family: Georgia, sans-serif;
}

.mpexpress-checkout-redirect .col-wrapper{
    width:100%;
    border:none !important;
}

.mpexpress-checkout-redirect .fb-cr,
.mpexpress-checkout-redirect .zopim{
    display:none;
}

.mpexpress-checkout-redirect #wrapper-footer,
body.mpexpress-checkout-redirect{
    background: #FFF !important;
}

.mpexpress-checkout-redirect #header{
	width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.mpexpress-checkout-redirect #MP-Checkout-dialog{
    z-index: 100000 !important;
}


.mpexpress-checkout-redirect .header-container.header-checkout {
    text-align: center;
}


.mpexpress-checkout-redirect .col2-left-layout .col-main .botao h3 {
    margin-bottom: 50px !important;
}


.footer-secondary-container{
	display:none;
}

.mpexpress-checkout-redirect .header-container.header-checkout {
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
    background-color: #FFF;
}

.footer-primary-container{
    padding-top: 0 !important;
    border-top: solid 1px #ccc;
}