@media (min-width:1200px){
	.container{width:1200px}
}
.main-container{
	position: relative;
	z-index: 3;
}
.arw_layout_global_top{
	position: relative;
	z-index: 3;
	@media (max-width:768px){
		display: none;
	}
}
.main{
	margin-top: 60px;
	padding-bottom: 40px;
	background: $main_bg_color;
	.cms-index-index &{
		margin-top: 0;
		padding-bottom: 0;
	}
}
.body-boxed .wrapper > .page {
	@include box-shadow(0 6px 12px rgba(0, 0, 0, 0.176));
}
.col-main{
	.page-title{
		display: none;
	}
}
.arw-page-title{
	text-align: center;
	background-color: $breadcrumb_bg;
	&.cms-index-index{
		display: none;
	}
	&.has-page-title{
		border-top: 1px solid $border_color;
		border-bottom: 1px solid $border_color;
		padding: 30px 0;
	}
	.page-title {
		h1,h2{
			font-size: 2em;
			margin: 0;
			text-transform: uppercase;
			font-weight: bold;
			letter-spacing: 4px;
		}
		+ .arw_breadcrumbs{
			padding-top: 10px;
		}
		.button{
			display: none;
		}
	}
	.arw_breadcrumbs{
		.breadcrumbs{
			li{
				padding: 0;
				display: inline;
				text-transform: uppercase;
				a{
					color: $breadcrumb_link_color;
					&:hover{
						color: $breadcrumb_link_hover_color;
					}
				}
				strong{
					color: $breadcrumb_current_color;
					font-weight: normal;
				}
				span{
					color: $breadcrumb_caret;
					padding: 0 5px;
				}
			}
		}
	}
}
.arw-product-labels{
	.arw-product-label{
		border-style: solid;
		border-width: 2px;
		display: block;
		position: absolute;
		text-transform: uppercase;
		top: 15px;
		z-index: 3;
		height: 58px;
		line-height: 54px;
		width: 58px;
		font-size: .833em;
		text-align: center;
		@include border-radius(50%);
		.product-img-box &{
			z-index: 100;
		}
	}
	.product-sale-label{
		background: $cat_label_sale_bg;
		color: $cat_label_sale_color;
		border-color: $cat_label_sale_border;
		right: 20px;
		.item.arw-col &{
			right: 35px;
		}
	}
	.product-new-label{
		background: $cat_label_new_bg;
		color: $cat_label_new_color;
		border-color: $cat_label_new_border;
		left: 20px;
		.item.arw-col &{
			left: 35px;
		}
	}
}

.arw_sebian_home_block_testimonial{
	.container{
		position: relative;
	}
	.owl-carousel{
		position: static;
	}
}
.tparrows {
    display: none !important;
}
.grilla-bp .col-md-12, .grilla-bp .col-md-6 {padding-left: 7px;padding-right: 7px}

.btn2 {
    border-color: #b0b0b0 !important;
    color: #b0b0b0 !important;
}