<!--@subject {{var store.getFrontendName()}}: New Order # {{var order.increment_id}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$order.getCustomerName()":"Customer Name",
"var store.getFrontendName()":"Store Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var order.increment_id":"Order Id",
"var order.getCreatedAtFormated('long')":"Order Created At (datetime)",
"var order.getBillingAddress().format('html')":"Billing Address",
"var payment_html":"Payment Details",
"var order.getShippingAddress().format('html')":"Shipping Address",
"var order.getShippingDescription()":"Shipping Description",
"layout handle=\"sales_email_order_items\" order=$order":"Order Items Grid",
"var order.getEmailCustomerNote()":"Email Order Note"}
@-->
<!--@styles
    @-->

    {{template config_path="design/email/header"}}
    {{inlinecss file="email-inline.css"}}

    <table cellpadding="0" cellspacing="0" border="0">
        <tr>
            <td>
                <table cellpadding="0" cellspacing="0" border="0">
                    <tr>
                        <td class="email-heading">
                            <p style="font-size:12px; line-height:16px; margin:0 0 10px 0;">
                                Gracias por realizar tu pedido en {{var store.getFrontendName()}}.
                                Una vez que tu pedido sea enviado, te enviaremos un email con un link para el seguimiento de su orden.
                                Pod&eacute;s consultar el estado de tu pedido <a href="{{store url="sales/guest/form/"}}" style="color:#1E7EC8;">aqu&iacute;</a>.
                                Si ten&eacute;s alguna pregunta sobre tu pedido por favor mandanos un mail a <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a>.
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="order-details">
                <h3>Orden <span class="no-link">#{{var order.increment_id}}</span></h3>
                <p>Placed on {{var order.getCreatedAtFormated('long')}}</p>
            </td>
        </tr>
        <tr class="order-information">
            <td>
                {{if order.getEmailCustomerNote()}}
                <table cellspacing="0" cellpadding="0" class="message-container">
                    <tr>
                        <td>{{var order.getEmailCustomerNote()}}</td>
                    </tr>
                </table>
                {{/if}}
                {{layout handle="sales_email_order_items" order=$order}}
                <table cellpadding="0" cellspacing="0" border="0">
                    <tr>
                        <td class="address-details">
                            <h6>Informaci&oacute;n de Facturaci&oacute;n:</h6>
                            <p><span class="no-link">{{var order.getBillingAddress().format('html')}}</span></p>
                        </td>
                        {{depend order.getIsNotVirtual()}}
                        <td class="address-details">
                            <h6>Informaci&oacute;n de Env&iacute;o:</h6>
                            <p><span class="no-link">{{var order.getShippingAddress().format('html')}}</span></p>
                        </td>
                        {{/depend}}
                    </tr>
                    <tr>
                        {{depend order.getIsNotVirtual()}}
                        <td class="method-info">
                            <h6>M&eacute;todo de Env&iacute;o:</h6>
                            <p>{{var order.shipping_description}}</p>
                        </td>
                        {{/depend}}
                        <td class="method-info">
                            <h6>M&eacute;todo de Pago:</h6>
                            {{var payment_html}}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    {{template config_path="design/email/footer"}}
