<?php
/* * ****************************************************
 * Package   : Brand
 * Author    : ArexWorks
 * Copyright : (c) 2015
 * ***************************************************** */
?>
<?php
$_productStoreConfig = Mage::getStoreConfig('brand/product');
$_showBrand = $_productStoreConfig['show_brand'];
?>
<?php if ($_showBrand): ?>
    <?php
    $_brand_helper = Mage::helper('brand');
    if ($_brand_helper->iconWidth() != '') {
        $iconWidth = $_brand_helper->iconWidth();
    } else {
        $iconWidth = 170;
    }
    if ($_brand_helper->iconHeight() != '') {
        $iconHeight = $_brand_helper->iconHeight();
    } else {
        $iconHeight = 70;
    }

    $_product = Mage::registry('product');
    $_brand = $this->getBrand($_product->getId());
    $urlKey = $this->getUrlKey();
    $_showBrandImage = ($this->getData('show_brand_image') == "0") ? $this->getData('show_brand_image') : 1;
    $_showBrandTitle = ($this->getData('show_brand_title') == "0") ? $this->getData('show_brand_title') : 1;
    $_imageLinkToBrandPage = ($this->getData('image_link_to_brand_page') == "0") ? $this->getData('image_link_to_brand_page') : 1;
    $_titleLinkToBrandPage = ($this->getData('title_link_to_brand_page') == "0") ? $this->getData('title_link_to_brand_page') : 1;
    ?>

    <?php if ($_brand->getId()): ?>
        <div class="product-brand">
            <div class="product-brand-inner">
                <?php if ($_showBrandImage): ?>
                    <div class="brand-image">
                        <?php if ($_imageLinkToBrandPage): ?>
                        <a title="<?php echo $_brand->getTitle(); ?>"
                           href="<?php echo $this->getUrl() . $urlKey . '/' . $_brand->getUrlKey(); ?>">
                            <?php endif; ?>
                            <?php if ($_brand->getIcon() != ''): ?>
                                <img class="brand-img" width="<?php echo $iconWidth; ?>"
                                     height="<?php echo $iconHeight; ?>" alt="<?php echo $_brand->getTitle(); ?>"
                                     src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB) . 'media/' . $_brand->getIcon(); ?>">
                            <?php else: ?>
                                <img class="brand-img" width="<?php echo $iconWidth; ?>"
                                     height="<?php echo $iconHeight; ?>" alt="<?php echo $_brand->getTitle(); ?>"
                                     src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB) . 'media/arw/brand/no_image.jpg'; ?>">
                            <?php endif; ?>
                            <?php if ($_imageLinkToBrandPage): ?>
                        </a>
                    <?php endif; ?>
                    </div>
                <?php endif; ?>
                <?php if ($_showBrandTitle): ?>
                    <div class="brand-title">
                        <?php if ($_titleLinkToBrandPage): ?>
                        <a title="<?php echo $_brand->getTitle(); ?>"
                           href="<?php echo $this->getUrl() . $urlKey . '/' . $_brand->getUrlKey(); ?>">
                            <?php endif; ?>
                            <?php echo $_brand->getTitle(); ?>
                            <?php if ($_titleLinkToBrandPage): ?>
                        </a>
                    <?php endif; ?>
                    </div>
                <?php endif; ?>
            </div>
        </div>
    <?php endif; ?>
<?php endif; ?>