<?php
/* * ****************************************************
 * Package   : Brand
 * Author    : ArexWorks
 * Copyright : (c) 2015
 * ***************************************************** */
?>
<?php
$_productStoreConfig = Mage::getStoreConfig('brand/product');
$_showRelatedProducts = $_productStoreConfig['show_related_products'];
?>
<?php if ($_showRelatedProducts): ?>
    <?php
    $_current_product = Mage::registry('product');
    $_brand = $this->getBrand($_current_product->getId());

    $_relatedProductsLimit = intval($_productStoreConfig['related_products_limit']) ? $_productStoreConfig['related_products_limit'] : 8;
    $_relatedProductsSortBy = $_productStoreConfig['related_products_sort_by'] ? $_productStoreConfig['related_products_sort_by'] : null;
    $_relatedProductsSortDir = $_productStoreConfig['related_products_sort_dir'] ? $_productStoreConfig['related_products_sort_dir'] : null;

    $_collection = $this->getRelatedProducts($_brand->getId(), $_relatedProductsLimit, 1, $_relatedProductsSortBy, $_relatedProductsSortDir);
    $_helper = $this->helper('catalog/output');

    $theme_helper = $this->helper('sebian');
    $related_slider = $theme_helper->getCfg('product_details/related_slider') ? true : false;
    $related_autoplay = $theme_helper->getCfg('product_details/related_autoplay') ? true : false;
    $related_speed = ($related_speed = $theme_helper->getCfg('product_details/related_speed')) ? $related_speed : 500;
    $related_dots = $theme_helper->getCfg('product_details/related_dots') ? true : false;
    $related_loop = $theme_helper->getCfg('product_details/related_loop') ? true : false;
    $related_navigation = $theme_helper->getCfg('product_details/related_navigation') ? true : false;
    $related_margin = ($related_margin = $theme_helper->getCfg('sebian/product_details/related_margin')) ? $related_margin : 30;

    $related_responsive = ($related_responsive = Mage::getStoreConfig('sebian/product_details/related_responsive')) ? $related_responsive : 'false';
    $related_item = ($related_item = Mage::getStoreConfig('sebian/product_details/related_item')) ? $related_item : 4;

    $_ulClass = "products-related-grid products-grid arw-" . $related_item . "-col";

    $id_rand = rand();
    $quick_view	= $theme_helper->getCfg('quick_view_product/enableview') ? true : false;
    $aspect_ratio = ($theme_helper->getCfg('category/aspect_ratio')) ? true : false;
    $image_options = ($image_options = $theme_helper->getCfg('category/image_options')) ? $image_options : 'none';
    $image_options_slideshow_item = ($image_options_slideshow_item = $theme_helper->getCfg('category/slideshow_item')) ? $image_options_slideshow_item : 4;

    $second_image_column = ($second_image_column = $theme_helper->getCfg('category/alt_image_column')) ? $second_image_column : 'position';
    $second_image_column_value = ($second_image_column_value = $theme_helper->getCfg('category/alt_image_column_value')) ? $second_image_column_value : '1';
    $image_width = ($image_width = $theme_helper->getCfg('category/image_width')) ? $image_width : 270;
    $image_height = ($image_height = $theme_helper->getCfg('category/image_height')) ? $image_height : 340;
    $second_image_effect = ($second_image_effect = $theme_helper->getCfg('category/alt_image_effect')) ? $second_image_effect : 'transform';
    $class_item_effect = '';
    $second_image_effect_tmp = explode('_',$second_image_effect);
    foreach($second_image_effect_tmp as $cl){
        $class_item_effect .= " {$cl}-effect";
    }
    $class_item_effect_2 = $class_item_effect;
    ?>
    <?php if (count($_collection)): ?>
        <div class="arw-title text-uppercase">
                <h2><span><span><?php echo $this->__('Brand Related Products')?></span></span></h2>
            </div>
            <div class="arw-sub-title">
                <span><?php echo $this->__('Most have in your Shop')?></span>
            </div>
            <div class="block-related<?php echo $related_slider ? ' active' : ''?> margin-top-60 xs-margin-top-30 sm-margin-top-30">
                <?php if($related_slider):?>
                <div class="arw_tab_slider">
                    <div class="products-slide">
                        <ul id="product-list-<?php echo $id_rand;?>" class="arw_tab_items products-grid arw-control-style-1">
                            <?php else:?>
                            <ul id="product-list-<?php echo $id_rand;?>" class="products-grid arw-<?php echo $_columnCount;?>-col arw-row" id="block-related">
                                <?php endif;?>
                                <?php foreach($_collection as $_product): ?>
                                    <?php
                                    $_tpl_image = '<a class="product-image" href="%s" title="%s">%s<div class="image-overlay"></div></a>';
                                    if($image_options == 'slideshow'){
                                        $_tpl_image = '<div class="product-image product-image-slideshow"><div class="wrapper-slideshow"><div class="image-overlay"></div><a href="%s" title="%s">%s</a></div></div>';
                                    }
                                    $_front_image = '<img class="front product-collection-image" src="'.$this->helper('catalog/image')
                                            ->init($_product, 'small_image')
                                            ->keepAspectRatio($aspect_ratio)
                                            ->resize($image_width,$image_height) .'"
                        alt="'.$this->stripTags($_product->getName(), null, true).'" />';
                                    $_back_image = '';
                                    if($image_options == 'alt_image' || $image_options == 'slideshow'){
                                        $product        =   Mage::getModel('catalog/product')->load($_product->getId());
                                        $mediaGallery   =   $product->getMediaGalleryImages();
                                        if($image_options == 'alt_image'){
                                            $filterMediaGallery=$mediaGallery->getItemsByColumnValue($second_image_column,$second_image_column_value);
                                            if(count($filterMediaGallery) > 0){
                                                foreach ($filterMediaGallery as $singleMediaGallery) {
                                                    $file = $singleMediaGallery->getFile();
                                                    $_back_image = '<img class="back" src="'.$this->helper('catalog/image')
                                                            ->init($product, 'small_image', $file)
                                                            ->keepAspectRatio($aspect_ratio)
                                                            ->resize($image_width,$image_height).'"
                                        alt="'.$this->stripTags($product->getName(), null, true).'"/>';
                                                }
                                            }
                                        }
                                        if($image_options == 'slideshow'){
                                            $class_item_effect = '';
                                            if($product->getImage() == 'no_selection' && count($galleryImages) == 0){
                                                $_back_image = '';
                                                $_tpl_image = '<a class="product-image" href="%s" title="%s"><div class="image-overlay"></div>%s</a>';
                                            }else{
                                                $i_counter = 0;
                                                foreach ($mediaGallery as $_gallery_item){
                                                    if($i_counter == 0){
                                                        $_front_image = '<img class="product-collection-image thumbnail-item" src="'.$this->helper('catalog/image')
                                                                ->init($product, 'small_image', $_gallery_item->getFile())
                                                                ->keepAspectRatio($aspect_ratio)
                                                                ->resize($image_width,$image_height).'"
                                            alt="'.$this->stripTags($product->getName(), null, true).'" />';
                                                    }else{
                                                        $_back_image .= '<img class="thumbnail-item hidden-slowly" src="'.$this->helper('catalog/image')
                                                                ->init($product, 'small_image', $_gallery_item->getFile())
                                                                ->keepAspectRatio($aspect_ratio)
                                                                ->resize($image_width,$image_height).'"
                                            alt="'.$this->stripTags($product->getName(), null, true).'" />';
                                                    }
                                                    if($image_options_slideshow_item == $i_counter++) break;
                                                }
                                            }
                                        }
                                    }
                                    if($_back_image == ''){
                                        $class_item_effect = '';
                                    }
                                    ?>
                                    <?php if($related_slider):?>
                                        <li class="item">
                                    <?php else:?>
                                        <li class="arw-col item">
                                    <?php endif;?>
                                    <div class="wrapper-item">
                                        <?php echo $theme_helper->getLabel($_product);?>
                                        <input type="hidden" value="<?php echo $_product->getId()?>" name="product"/>
                                        <div class="wrapper-item-inner <?php echo $class_item_effect;?>">
                                            <div class="outer-image">
                                                <?php echo sprintf(
                                                    $_tpl_image,
                                                    $_product->getProductUrl(),
                                                    $this->stripTags($_product->getName(), null, true),
                                                    $_front_image . $_back_image
                                                );?>
                                            </div>
                                            <div class="actions">
                                                <div class="link-actions">
                                                    <?php if($quick_view):?><a data-toggle="tooltip" href="<?php echo $this->getUrl('arexworks/quickview/index',array('product_id'=>$_product->getId()));?>" class="button link-quickview" title="<?php echo $this->__('Quick View') ?>"><span class="fa fa-search"></span></a><?php endif;?><?php /*
                            */?><?php /*if ($_compareUrl = $this->getAddToCompareUrl($_product)): ?><a data-toggle="tooltip" href="<?php echo $_compareUrl ?>" class="button link-compare" title="<?php echo $this->__('Add to Compare') ?>"><span class="fa fa-retweet"></span></a><?php endif; */ ?><?php /*
                            */?><?php if ($this->helper('wishlist')->isAllow()) : ?><a data-toggle="tooltip" href="<?php echo $this->getAddToWishlistUrl($_product) ?>" class="button link-wishlist" title="<?php echo $this->__('Add to Wishlist') ?>"><span class="fa fa-heart-o"></span></a><?php endif; ?>
                                                    <a data-toggle="tooltip" href="<?php echo $_product->getProductUrl() ?>" class="button link-wishlist" title="<?php echo $this->__('Más detalles') ?>" style="margin-left: -3px;"><span class="fa fa-plus"></span></a>
                                                </div>
                                                <?php if($_product->isSaleable()): ?>
                                                    <button onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')" class="button btn-cart" title="<?php echo $this->__('Add to Cart') ?>"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                                                <?php else: ?>
                                                    <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                                                <?php endif; ?>
                                            </div>
                                        </div>
                                        <div class="product-info">
                                            <h2 class="product-name">
                                                <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>">
                                                    <span><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></span>
                                                </a>
                                            </h2>
                                            <?php if($_product->getRatingSummary()):?>
                                                <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
                                            <?php endif;?>
                                            <?php echo $this->getPriceHtml($_product, true, '-related') ?>
                                        </div>
                                    </div>
                                    </li>
                                    <?php $class_item_effect = $class_item_effect_2;?>
                                <?php endforeach ?>
                                <?php if($related_slider):?>
                            </ul>
                    </div>
                </div>
                <script type="text/javascript">
                    jQuery(document).ready(function($){
                        $('#product-list-<?php echo $id_rand;?>').owlCarousel({
                            dots : <?php echo $related_dots ? 'true' : 'false'?>,
                            nav : <?php echo $related_navigation ? 'true' : 'false'?>,
                            autoplay : <?php echo $related_autoplay ? 'true' : 'false'?>,
                            loop : <?php echo $related_loop ? 'true' : 'false'?>,
                            margin : <?php echo $related_margin?>,
                            navSpeed : <?php echo $related_speed ?>,<?php if($related_responsive): $related_responsive_arr = explode(',',$related_responsive);?>
                            responsive:{<?php foreach ($related_responsive_arr as $res){
                        $resp=explode(':',$res);
                        echo $resp[0].":{items:$resp[1]},";
                        }?>0:{items:1}
                            }<?php else:?>
                            items : <?php echo $related_item?>
                            <?php endif;?>
                        })
                    })
                </script>
            <?php else:?>
                </ul>
            <?php endif;?>
                <script type="text/javascript">
                    jQuery(document).ready(function(){
                        arexworks.Frontend.initOwlGalleryImage(jQuery('#product-list-<?php echo $id_rand;?> .product-image.product-image-slideshow .wrapper-slideshow'));
                    })
                </script>
            </div>
        </div>
    <?php endif ?>
<?php endif ?>
