.post-item{
	margin-bottom: 20px;
	.post-item-inner{
		position: relative;
	}
	.post-thumbnail{
		position: relative;
		overflow: hidden;
		&:hover{
			img{
				@include scale(1.2);
			}
		}
		img{
			width: 100%;
			height: auto;
			@include transition(all .3s $easeInOutQuad);
		}
		.btn-viewmore{
			padding: 20px;
			line-height: 20px;
			font-size: 14px;
			@include opacity(0);
			@extend %position-center-center;
			@include transition(all .3s $easeInOutQuad);
			.fa{
				height: 20px;
				text-align: center;
				line-height: 20px;
				width: 20px;
			}
		}
	}
	.post-category{
		font-size:0.917em;
		text-transform: uppercase;
		margin: 0 0 5px;
		a{
			color: $primary;
		}
	}
	.post-item-content{
		padding: 20px 0
	}
	.post-title{
		font-family:$font_family_highlight;
		font-size: 1.5em;
		font-style: italic;
		letter-spacing: 1px;
		line-height: normal;
		margin: 0 0 15px;
		a{
			&:hover{
				color: inherit;
			}
		}
	}
	.post-excerpt {
		margin: 0 0 15px;
	}
	.post-meta{
		text-transform: uppercase;
		.post-by,
		.post-date,
		.post-view{
			display: inline-block;
			padding-right: 5px;
		}
		i{
			padding-right: 5px;
			@include transform(translateY(-1px));
		}
	}
	&:hover{
		.post-thumbnail{
			.btn-viewmore{
				@include opacity(1);
			}
		}
	}
}

.blog-list{
	.post-item{
		h2.post-title{
			font-size: 2em;
			margin-bottom: 20px;
		}
		.post-category{
			margin-bottom: 0;
		}
		.post-item-content{
			padding: 0;
		}
		.post-thumbnail{
			margin-bottom: 30px;
		}
	}
	.post-excerpt .aw-blog-read-more{
		display: none;
	}
	.post-meta{
		padding: 15px 0;
		border-top: 1px solid $border_color;
		border-bottom: 1px solid $border_color;
		line-height: 42px;

		.btn{
			float: right;
		}
	}
}
.blog-detail{
	.post-item{
		border-bottom: 1px solid $border_color;
		padding-bottom: 50px;
	}
	.post-title{
		font-size: 3em;
	}
	.post-category{
		margin-bottom: 0;
	}
	.post-meta{
		margin-bottom: 15px;
	}

}
.tags{
	h4{
		display: inline;
	}
	.tags{
		display: inline;
		li{
			display: inline;
			a{
				border: 1px solid;
				display: inline-block;
				font-size: 0.833em;
				letter-spacing: 2px;
				padding: 0 10px;
				text-transform: uppercase;
			}
		}
	}
}

.block-recent-post{
	ul{
		li{
			padding: 15px 0 20px;
			text-transform: uppercase;
			@include clearfix();
			.blog-image{
				padding-top: 5px;
				float: left;
				width: 70px;
				margin-right: 15px;
			}
			a{
				display: block;
			}
			span{
				display: block;
				font-size: .833em;
			}
			+ li{
				border-top: 1px solid $block_content_border;
			}
		}
	}
}
#instafeed{
	float:left;
	width:100%;
	padding-bottom: 100px;
	.instagram_item{
		float: left;
		width: 25%;
		list-style: none;
		@media (min-width: 768px) {
			width: 50%;	
		}
	}
}
.commentWrapper{
	border: 1px solid $border_color;
	padding: 20px;
	margin-bottom: 20px;
	h4.username{
		font-size: .917em;
		text-transform: uppercase;
		color: $primary;
		margin: 0 0 5px;
		font-weight: bold;
	}
	.commentCreate{
		font-size: .917em;
		color: $heading_color;
	}
	.commentContent {
		font-style: italic;
	}
}
#postComment .legend {
	text-align: center;
	text-transform: uppercase;
}
#instafeed{
	.instagram_item{
		@media (min-width: 992px) {
			img{
				width: 285px;
				height: 285px;
			}
		}
	}
}