/*
 *
 * Checkout
 *
 */

#mercadopago_checkout_custom ul li{
    float: left;
    width: 100%;
}

#mercadopago_checkout_custom ul li label{
    width: 100%;
    float: left;
}

#mercadopago_checkout_custom ul li input, #mercadopago_checkout_custom ul li select{
    /*height: 20px;*/
}

#cardId{
    background-position: 93% 50% !important;
    height: 25px !important;
    background-color: #fff !important;
}

#cardNumber{
    background-position: 98% 50% !important;
    width: 225px;
    background-color: #fff !important;
}

#cardholderName{
    width: 160px;
}

#securityCode, #securityCodeOCP{
    width: 53px;
}

#securityCodeOCP__mp{
    margin: 0 0 -10px;
}

#docNumber{
    width: 106px;
}

#box_month, #box_year{
    width: 130px;
    float: left;
}

#box_month select, #box_year select{
    width: 130px;
}

#box_month{
    margin: 0 5px 0 0;
}


.message-error{
    display: none;
}


#mercadopago_checkout_custom_ticket .form-mercadopago{
    padding-left: 0px;
}

.action_ocp{
    cursor: pointer;
    width: 160px;
}

#return_list_card_mp{
    display: none;
}

/*
 *
 * Pagina de sucesso
 *
 */

#mensagem_mp{
    float: left;
}
#mensagem_mp h4{
    font-size: 18px;
}

#mensagem_mp .status{
    font-size: 14px;
}

.voltar{
    text-transform:uppercase;
}

#logo_mp{
    float: left;
    /*text-align: center;*/
    width: 100%;
    margin: 40px 0 0 0;
}



.btn-boleto{
    font-family: 'Lato',sans-serif;
    font-weight: 400;
    background-color: #36A1F1;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#36A1F1),color-stop(100%,#0F79C9));
    background-image: -webkit-linear-gradient(#36A1F1,#0F79C9);
    background-image: -moz-linear-gradient(#36A1F1,#0F79C9);
    background-image: -o-linear-gradient(#36A1F1,#0F79C9);
    background-image: linear-gradient(#36A1F1,#0F79C9);
    -webkit-box-shadow: inset 0 1px #97DCFF;
    box-shadow: 0 1px #97DCFF inset;
    color: #FFF!important;
    border: 1px solid #0D6FB9;
    border-radius: 4px 4px 4px 4px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    line-height: 1.25em;
    padding: 6px 12px;
    font-size: 20px;
}

/*
 *
 *
 */

#standard_banner_checkout{
    width: 100%;
    float: left;
}


@media screen and (max-width: 500px) {
    .banner_checkout_mp{
        width: 100%;
        margin: 0 0 5px 0;
    }

    .box-mes {
        width: 100%;
    }

    .box-ano{
        width: 100%;
        margin: 10px 0 0 0;
    }

    .box-mes select{
        width: 50%;
    }
    .box-ano select{
        width: 50%;
    }

    #mercadopago_transparent_doc {
        width: 50%;
    }

    #status{
        margin: 0 0 10px 0;
    }

    iframe#checkout_mercadopago{
        float: left;
        width: 100% !important;
    }

    .form-list.mercadopago{
        float: left;
        min-width: 100%;
        width: 100%;
        margin: 0 15px 0 0px;
    }
}



#mercadopago-loading{
    display: none;
    margin: -5px 0 10px 0;
    float: left;
    width: 100%;
}
.msg-status{
    display: none;
}

.mercadopago-message-coupon{
    margin: 5px 0 -5px 0px;
    float: left;
    width: 92%;
}

.mercadopago-message-coupon li{
    display: none;
}

.mercadopago-coupon-action-apply, .mercadopago-coupon-action-remove{
    cursor: pointer;
    float: left;
    font-size: 10px;
    border: 1px solid #cecece;
    text-transform: uppercase;
    padding: 2px 7px;
    border-radius: 5px;
    background-color: #F0F0F0;
    margin: 5px 0 0 0;
}

.mercadopago-coupon-action-remove{
    display: none;
}

.mercadopago-message-coupon p{
    margin: 0 0 0 0;
}

.mercadopago-focus{
    color: #004098;
    font-family: arial;
    font-weight: bold;
}

.discount-ok{
    padding: 10px;
    border: 1px solid #cecece;
    background-color: #F0F0F0;
    float: left;
}
.error-installment-not-work{
    cursor: pointer;
}

.mercadopago-info-discount li{
    display: block !important;
    float: left;
    width: 100%;
    margin: 0  !important;
}

.mercadopago-discount-options {
    display: inline-block;
}
.mercadopago-ticket-label {
    vertical-align: top;
}
.optionsTicketMp {
    float: left;
    margin-right: 10px;
}

.banner_checkout_mp {
    max-width:100%;
    max-height:100%;
}
