/*Sidebar Menu arw-effect-slide arw-menu-open*/
.root-wrapper {
    position: relative;
   /*  overflow: hidden; */
}
.arw-wrapper {
    position: relative;
    left: 0;
    z-index: 99;
    height: 100%;
    -webkit-transition: -webkit-transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
}
.arw-wrapper::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    background: rgba(0,0,0,0.2);
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
    transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
    -o-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}
.arw-menu-open .arw-wrapper::after {
    width: 100%;
    height: 100%;
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
}
.arw-menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    visibility: hidden;
    width: 250px;
    height: 100%;
    background: #2d2d2d;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -o-transition: all 0.5s;
    overflow: auto;
}
.arw-menu a {
    border-bottom: 1px solid #565656;
	color: #FFFFFF;
}
.arw-menu li li a {
    background-color: #3F3F3F;
}
.arw-menu ul.nav-accordion li li a {
    padding-left: 30px;
}
.arw-menu ul.nav-accordion li li li a {
    padding-left: 45px;
	font-size: 13px;
}
.arw-menu ul.nav-accordion li li li li a {
    padding-left: 60px;
	font-size: 12px;
}
.arw-menu .arw-menu-active{
  display:block;
  overflow:hidden;
  border-bottom:1px solid #474747;
   padding: 0 15px;
   background: none repeat scroll 0 0 #1F1F1F;
}
.arw-menu ul.nav-accordion li ul li a{width:100%;}
.arw-menu .arw-menu-title {
	float:left;
}
.arw-menu .arw-menu-title h3 {
    color: #fff;
	margin: 12px 0;
    padding: 0px;
	text-transform: uppercase;
	font-size:14px;
}
.arw-menu .arw-menu-active {cursor: pointer;}
.arw-menu .arw-menu-active .navbar-toggle{
    width:100%;
	padding:0;
	margin: 0;
	line-height:18px;
}

.arw-menu .navbar-header .navbar-toggle .icon-bar {
    background-color: #FFFFFF;
    height: 3px;
}
.navbar .navbar-inverse .navbar-toggle .icon-bar {
    background-color: #474646;
}
.arw-menu .navbar-header {
    margin: 12px 0;
	text-align: left;
}
.navbar .navbar-toggle:hover {
    background-color: inherit;
}
.title-canvas{
   color: #FFFFFF;
    font-size: 14px;
    margin-left: 9px;
    text-transform: uppercase;
}
.arw-menu-active .arw-close-canvas{
     background: url("../images/close-canvas-menu.png") no-repeat scroll 0 0 transparent;
	  border: medium none;
    float: right;
    height: 16px;
    width: 17px;
}
.arw-menu ul.nav-accordion li a {
    padding-left: 15px;
	color: #FFFFFF;
	font-size: 14px;
	 margin: 0;
}
.arw-menu a:hover {
    background-color: #3F3F3F;
    color: #FFFFFF;
}
.arw-menu ul.nav-accordion li span.expand {
    background-image: url("../images/opener-active.png");
}
.arw-menu ul.nav-accordion li span.expand{
     background-position: 0 0;
}
.arw-menu ul.nav-accordion li span.collapse{
     background-image: url("../images/opener.png");
}
.arw-menu ul.nav-accordion li span.collapse{background-position: 0 0;}

.arw-menu ul.nav-accordion li span.collapse,
.arw-menu ul.nav-accordion li span.expand{
     height: 30px;
	 right: 3px;
	 top: 2px;
    width: 30px;
}
.navbar-inverse{ background-color: inherit; border-color:none !important;}
.arw-menu-open .arw-menu::after {
    width: 0;
    height: 0;
    opacity: 0;
    -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
    transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
    -o-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}
/* Effect:Slide along */
.arw-effect-slide.arw-menu-open .arw-wrapper {
    -webkit-transform: translate3d(250px, 0, 0);
    transform: translate3d(250px, 0, 0);
}

.arw-effect-slide.arw-menu {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    -o-transition: translate3d(-100%, 0, 0);
}

.arw-effect-slide.arw-menu-open .arw-effect-slide.arw-menu {
    visibility: visible;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    -o-transition: transform 0.5s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -o-transition: translate3d(0, 0, 0);
}

.arw-effect-slide.arw-menu::after {
    display: none;
}
.arw-effect-slide.arw-menu-open .site-overlay {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    left: 250px;
    z-index: 9999;
}
/**STYLE DRILLMENU**/
.arw-drillmenu {
    float: left !important;
    margin-left: 0 !important;
    width: 100% !important;
}
.nav-accordion.nav-categories .parent {
    position: relative;
    text-align: left;
}
.nav-accordion.nav-categories li {
    display: block;
}
.nav-accordion.nav-categories li a {
    display: block;
    font-size: 1em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    text-transform: capitalize;
}
.nav-accordion.nav-categories li a > span {
    display: inline-block;
    padding-left: 1.5em;
    position: relative;
}
.nav-accordion.nav-categories li a > span .cat-label {
    bottom: 80%;
    font-size: 10px;
    left: 90%;
    line-height: 1.3;
    padding: 0 5px;
    position: absolute;
}
.nav-accordion.nav-categories li a > span .category_icon {
    left: 1px;
    position: absolute;
    top: 4px;
}
.nav-accordion.nav-categories li.parent .expand,
.nav-accordion.nav-categories li.parent .collapse {
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
    height: 2.36em;
    right: 0;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    position: absolute;
    text-indent: -9999em;
    top: 0;
    width: 2.36em;
}
.nav-accordion.nav-categories li.parent .expand {
    background-image: url("../images/accordion/arrow2.png");
}
.nav-accordion.nav-categories li.parent .collapse {
    background-image: url("../images/accordion/arrow12.png");
}
.nav-accordion.nav-categories li ul {
    display: none;
}
.nav-accordion.nav-categories li ul li {
    padding-left: 1em;
}
.nav-accordion.nav-categories ul li > a {
    color: #444444;
}
.nav-accordion.nav-categories ul li:hover > a,
.nav-accordion.nav-categories ul li:active > a,
.nav-accordion.nav-categories ul li:focus > a,
.nav-accordion.nav-categories ul li.active > a {
    color: #ec6467;
}
.nav-accordion.nav-categories > li > a {
    color: #444444;
}
.nav-accordion.nav-categories > li > a:hover,
.nav-accordion.nav-categories > li > a:active,
.nav-accordion.nav-categories > li > a:focus {
    color: #ec6467;
}
.nav-accordion.nav-categories > li.active > a {
    color: #ec6467;
}
/**END STYLE DRILLMENU**/