@import "core";
.skrollr.skrollr-mobile{
	overflow: scroll !important;
	height: auto !important;
}
@media (max-width: $screen-md-max) {
	.md-min-height-{
		@for $i from 10 through 200 {
			&#{$i}{
				min-height: #{$i}px;
			}
		}
	}
	.md-padding-{
		@each $p_elm in top,left,right,bottom{
			@for $i from 0 through 100 {
				&#{$p_elm}-#{$i}{
			padding-#{$p_elm}: #{$i}px;
			}
			}
		}
	}
	.md-margin-{
		@each $p_elm in top,left,right,bottom{
			@for $i from 0 through 100 {
				&#{$p_elm}-#{$i}{
					margin-#{$p_elm}: #{$i}px;
				}
				&#{$p_elm}-{
					&-#{$i}{
						margin-#{$p_elm}: -#{$i}px;
					}
				}
			}
		}
	}
	@each $elm_p_m in md-padding,md-margin{
		.#{$elm_p_m}-{
			@for $i from 0 through 100 {
				&#{$i}{
					#{$elm_p_m}: #{$i}px;
				}
			}
		}
	}
	.md-font-size-{
		@for $i from 10 through 100 {
			&#{$i}{
				font-size: #{$i}px;
			}
		}
	}
	.md-line-height-{
		@for $i from 10 through 100 {
			&#{$i}{
				line-height: #{$i}px !important;
			}
		}
	}
	.md-font-size-1x{
		font-size: 1em;
	}
	.md-font-size-2x{
		font-size: 2em;
	}
	.md-font-size-3x{
		font-size: 3em;
	}
	.md-font-size-4x{
		font-size: 4em;
	}
	.md-font-size-5x{
		font-size: 5em;
	}
	.md-font-size-6x{
		font-size: 5em;
	}
	.md-font-size-7x{
		font-size: 5em;
	}
	.md-font-weight-{
		@each $i in 100,200,300,400,500,600,700,800,900{
			&#{$i}{
				font-weight: $i;
			}
		}
	}
}
@media (max-width: $screen-sm-max) {
	.sm-min-height-{
		@for $i from 10 through 200 {
			&#{$i}{
				min-height: #{$i}px;
			}
		}
	}
	.sm-padding-{
		@each $p_elm in top,left,right,bottom{
			@for $i from 0 through 100 {
				&#{$p_elm}-#{$i}{
					padding-#{$p_elm}: #{$i}px;
				}
			}
		}
	}
	.sm-margin-{
		@each $p_elm in top,left,right,bottom{
			@for $i from 0 through 100 {
				&#{$p_elm}-#{$i}{
					margin-#{$p_elm}: #{$i}px;
				}
				&#{$p_elm}-{
					&-#{$i}{
						margin-#{$p_elm}: -#{$i}px;
					}
				}
			}
		}
	}
	@each $elm_p_m in sm-padding,sm-margin{
		.#{$elm_p_m}-{
			@for $i from 0 through 100 {
				&#{$i}{
					#{$elm_p_m}: #{$i}px;
				}
			}
		}
	}
	.sm-font-size-{
		@for $i from 10 through 100 {
			&#{$i}{
				font-size: #{$i}px;
			}
		}
	}
	.sm-line-height-{
		@for $i from 10 through 100 {
			&#{$i}{
				line-height: #{$i}px !important;
			}
		}
	}
	.sm-font-size-1x{
		font-size: 1em;
	}
	.sm-font-size-2x{
		font-size: 2em;
	}
	.sm-font-size-3x{
		font-size: 3em;
	}
	.sm-font-size-4x{
		font-size: 4em;
	}
	.sm-font-size-5x{
		font-size: 5em;
	}
	.sm-font-size-6x{
		font-size: 5em;
	}
	.sm-font-size-7x{
		font-size: 5em;
	}
	.sm-font-weight-{
		@each $i in 100,200,300,400,500,600,700,800,900{
			&#{$i}{
				font-weight: $i;
			}
		}
	}
}
@media (max-width: $screen-xs-max) {
	.xs-min-height-{
		@for $i from 10 through 200 {
			&#{$i}{
				min-height: #{$i}px;
			}
		}
	}
	.xs-padding-{
		@each $p_elm in top,left,right,bottom{
			@for $i from 0 through 100 {
				&#{$p_elm}-#{$i}{
					padding-#{$p_elm}: #{$i}px;
				}
			}
		}
	}
	.xs-margin-{
		@each $p_elm in top,left,right,bottom{
			@for $i from 0 through 100 {
				&#{$p_elm}-#{$i}{
					margin-#{$p_elm}: #{$i}px;
				}
				&#{$p_elm}-{
					&-#{$i}{
						margin-#{$p_elm}: -#{$i}px;
					}
				}
			}
		}
	}
	@each $elm_p_m in xs-padding,xs-margin{
		.#{$elm_p_m}-{
			@for $i from 0 through 100 {
				&#{$i}{
					#{$elm_p_m}: #{$i}px;
				}
			}
		}
	}
	.xs-font-size-{
		@for $i from 10 through 100 {
			&#{$i}{
				font-size: #{$i}px;
			}
		}
	}
	.xs-line-height-{
		@for $i from 10 through 100 {
			&#{$i}{
				line-height: #{$i}px !important;
			}
		}
	}
	.xs-font-size-1x{
		font-size: 1em;
	}
	.xs-font-size-2x{
		font-size: 2em;
	}
	.xs-font-size-3x{
		font-size: 3em;
	}
	.xs-font-size-4x{
		font-size: 4em;
	}
	.xs-font-size-5x{
		font-size: 5em;
	}
	.xs-font-size-6x{
		font-size: 5em;
	}
	.xs-font-size-7x{
		font-size: 5em;
	}
	.xs-font-weight-{
		@each $i in 100,200,300,400,500,600,700,800,900{
			&#{$i}{
				font-weight: $i;
			}
		}
	}
}

@media (max-width:$screen-lg) {

}
@media (max-width: $screen-md-max) {

}
@media (max-width: $screen-sm-max) {
	.header-container .header-quick-access .arw-toggle-container .arw-toggle-content:before{ display: none}
	.header-container.header_style_2 #header{
		padding: 0;
	}
	.header-container.header_style_2 .header-logo{
		width: 100%;
		padding-top: 0;
	}
	.header-container.header_style_2 .header-logo .logo img{
		margin: 0 auto;
	}
	.header-container.header_style_2 .nav-primary-container{
		width: 100%;
		position: relative;
		padding-bottom: 10px;
	}
	.slider-tab-toggle{
		display: block;
	}
	.slider-tab{
		display: none;
	}
	.tab_style_3 .arw_tab_slider .slider-tab{
		margin: 15px 0;
	}
	.arw-control-style-1 .owl-nav .owl-prev,
	.carousel_style_1 .owl-nav .owl-prev{
		left: 0;
	}
	.arw-control-style-1 .owl-nav .owl-next,
	.carousel_style_1 .owl-nav .owl-next{
		right: 0;
	}
	.header-container{
		.header-top{
			.header-top-right,
			.header-top-left{
				padding: 0;
			}
			.header-top-left{
				padding-left: 10px;
			}
			a{
				padding: 11px 2px;
			}
			.header-top-link .header-top-link-ul > li{
				float: left;
			}
			.header-top-link .header-top-link-ul > li > span{
				padding: 11px 10px 11px 5px;
			}
			.header-top-link{
				border-right: none;
				padding-right: 5px;
				ul.links{
					left: auto;
					right: 0;
				}
			}
			.header-social{
				display: none;
			}
		}
		.header-logo .logo{
			display: block;
			line-height: normal !important;
			padding: 30px 0 !important;
			.logo{
				padding: 0 !important;
			}
		}
		.megamenu > li{
			padding-bottom: 0;
		}
		.megamenu .arwmenu-block .groups .title-group {
			font-weight: normal;
			letter-spacing: 1px;
		}

		.megamenu .arwmenu-block ul.level0 > .classic li > a,
		.megamenu .arwmenu-block ul.level0 > .classic > a {
			padding: 10px 20px;
		}
		.megamenu .arwmenu-block .groups .groups-wrapper ul li a{
			padding: 5px 20px;
		}
		.megamenu .arwmenu-block .groups .groups-wrapper ul li.level2 > a{
			padding-left: 0;
		}
		li.menu-style-group .level0.sub-wrapper {
			padding: 10px;
		}
	}
	.arw-title.style-2 h2 > span:after,
	.arw-title.style-2 h2 > span:before{
		width: 50px;
	}
	.arw-title h2{
		letter-spacing: 2px;
	}
	.arw-title{
		overflow: hidden;
	}

	// Toggle Sidebar
	.sidebar-mobile-hide{
		.col-left,
		.col-right{
			display: none;
		}
	}
	.sidebar-mobile-toggle .col-right.sidebar,
	.sidebar-mobile-toggle .col-left.sidebar {
		background: #fff;
		height: 100%;
		left: 0;
		overflow: scroll;
		position: fixed;
		top: 0;
		transform: translateX(-285px);
		-webkit-transform: translateX(-285px);
		width: 270px;
		padding: 15px;
		z-index: 99;
		-webkit-transition: 0.2s;
		-moz-transition: 0.2s;
	}
	.sidebar-mobile-toggle .col-right.sidebar{
		left: auto;
		right: 0;
		transform: translateX(285px);
		-webkit-transform: translateX(285px);
	}
	.sidebar-mobile-toggle.active-sidebar-left {
		.col-left.sidebar {
			transform: translateX(0px);
			-webkit-transform: translateX(-0px);
		}
		.col-right.sidebar{
			transform: translateX(285px);
			-webkit-transform: translateX(285px);
		}
	}
	.sidebar-mobile-toggle.active-sidebar-right {
		.col-right.sidebar {
			transform: translateX(0px);
			-webkit-transform: translateX(-0px);
		}
		.col-left.sidebar{
			transform: translateX(-285px);
			-webkit-transform: translateX(-285px);
		}
	}
	.active-sidebar-left,
	.active-sidebar-right{
		.main-container{
			z-index: 9;
		}
		.arw-overlay-close{
			position: fixed;
			z-index: 98;
			left: 0;
			top: 0;
			bottom: 0;
			right: 0;
			background: #000;
			opacity: .5;
		}
	}

	.sidebar-mobile-toggle .arw-toggle-sidebar {
		background: #eeeeee;
		color: 	#b8b8b8;
		display: block;
		cursor: pointer;
		font-size: 20px;
		height: 50px;
		line-height: 47px;
		position: fixed;
		text-align: center;
		top: 20%;
		width: 30px;
		z-index: 99;
		&.arw-toggle-sidebar-left{
			left: 0;
		}
		&.arw-toggle-sidebar-right{
			right: 0;
		}
		&:hover{
			background: $primary;
			color: #fff;
		}
	}

	.main{
		margin-top: 30px;
		padding-bottom: 20px;
	}

	.product-view{
		.product-sku{
			margin-bottom: 20px;
		}
		.product-brand{
			margin-top: 10px;
		}
		.product-essential {
			.short-description{
				margin: 10px 0;
				padding: 15px 0;
			}
			.product-options{
				margin-bottom: 10px;
			}
		}
		.product-collateral{
			margin-top: 10px;
		}
	}
	.newsletter_style_1 .block-subscribe .newsletter-validate-detail,
	.newsletter_style_1 .block-subscribe .block-title{
		width: 100%;
	}
	.products-list .desc.std{
		display: none;
	}
	.home-block-border {
		padding: 15px;
		.arw-title h2{
			font-size: 1.5em;
		}
	}
}

@media (max-width: $screen-xs-max) {
	.cart-collaterals .cart-totals{
		padding: 10px 10px 20px;
		margin-top: 15px;
	}
	#shopping-cart-table * {
		white-space: normal !important;
	}
	#shopping-cart-table {
		display: block;
	}
	#shopping-cart-table thead {
		display: none;
	}
	#shopping-cart-table tfoot {
		display: block;
		border-top: none;
	}
	#shopping-cart-table tfoot tr {
		display: block;
	}
	#shopping-cart-table tfoot tr td {
		display: inline-block;
		width: 100%;
	}
	#shopping-cart-table tfoot tr td .button {
		margin: 2px 0;
		width: 100%;
		text-align: left;
		padding: 0 25px 0 15px;
	}
	#shopping-cart-table tbody {
		display: block;
	}
	#shopping-cart-table tbody tr {
		border-bottom: none;
		display: block;
		padding: 10px;
	}
	#shopping-cart-table tbody td {
		border: medium none;
		display: block;
		float: right;
		margin-bottom: 5px;
		padding: 0;
		text-align: left !important;
		width: 65%;
	}
	#shopping-cart-table tbody td:first-child {
		float: left;
		margin: 0;
		padding-right: 20px;
		text-align: center !important;
		width: 35%;
	}
	#shopping-cart-table tbody tr:before,
	#shopping-cart-table tbody tr:after {
		content: " ";
		display: table;
	}
	#shopping-cart-table tbody tr:after {
		clear: both;
	}

	//
	.header-container {
		.header-logo .logo {
			padding: 5px 0 15px !important;
		}
		.header-quick-access{
			position: static;
			float: left;
			width: 100%;
			.mini-products-list{
				padding: 10px 0;
				li.item{
					padding: 10px 15px;
				}
			}
			.block{
				.actions{
					padding: 0 15px 10px;
				}
				.button{
					width: 100%;
					+ .button{
						margin-top: 10px;
					}
				}
			}
			.arw-toggle-container{
				float: left;
				padding-bottom: 10px;
				padding-left: 0;
				padding-top: 10px;
				clear: both;
				position: relative;
				.arw-toggle-content{
					left: 0;
					width: 280px;
					z-index: 2;
				}
				&:not(.header-mini-cart){
					width: 100%;
					padding-top: 0;
					.arw-toggle-control{
						display: none;
					}
					.arw-toggle-content{
						display: block !important;
						position: static;
						background: none;
						width: 100%;
						height: auto !important;
					}
				}
				.search_mini_form{
					padding: 0;
					position: relative;
					.search-select-cat{
						width: 100%;
						display: none;
						.btn{
							border: 1px solid $border_color;
							height: 34px;
							line-height: 34px;
							margin-bottom: 10px;
							padding: 0 25px 0 10px;
							.caret{
								&:before{
									top: 0;
								}
							}
						}
					}
					.input-text{
						width: 100% !important;
						height: 34px;
						+ .button{
							background: none;
							border: medium none;
							bottom: 0;
							color: #2e2e2e;
							position: absolute;
							right: 0;
							width: 34px;
							height: 34px;
							line-height: 34px;
							&:hover{
								background: $primary;
								color: #fff;
							}
						}
					}
				}
			}
		}
	}

	// Product View
	.product-view{
		.col-main-details-style_1{
			.product-img-box,
			.product-shop{
				width: 100%;
			}
		}
	}
	.arw_tab_slider {
		.owl-nav{
			left: 15px;
			right: 15px;
			z-index: 10;
			.owl-next,
			.owl-prev{
				position: absolute;
				top: 0;
			}
			.owl-next{
				right: 0;
			}
			.owl-prev{
				left: 0;
			}
		}
	}
	.tab_style_2{
		.owl-nav{
			margin-top: 0;
			left: 50%;
			right: auto;
			.owl-next,
			.owl-prev{
			}
			.owl-next{

			}
			.owl-prev{

			}
		}
	}
	/*	Banner image	*/
	.arw-banner{
		&.style-1{
			.banner-button{
				a{
					font-size: 1em;
					letter-spacing: 2px;
					padding: 15px;
				}
			}
		}
		&.style-2{
			.banner-title{
				font-size: 1em;
				letter-spacing: 2px;
				margin-bottom: 10px;
				padding-bottom: 10px;
			}
			.banner-text{
				font-size: 1.250em;
			}
			.banner-button{
				a{
					padding: 5px 10px;
					font-size: .833em;
				}
			}
			&:hover{
				.banner-button{
					a{
						margin-top: 15px;
					}
				}
			}
		}
		&.style-3{
			.banner-title{
				font-size: 3em;
			}
			.banner-text{
				font-size: 1em;
				letter-spacing: 3px;
			}
		}
		&.style-4{

			.banner-title{
				font-size: 1.5em;
				letter-spacing: 2px;
				margin-bottom: -40px;
			}
			.banner-button{
				a{
					font-size: 0.833em;
					margin-top: 10px;
				}
			}

		}
		&.style-5{
			.arw-banner-content{
				padding: 10px;
			}
			.banner-sub-title{
				padding: 10px;
			}
			.banner-title{
				font-size: 1.25em;
				letter-spacing: 2px;
				margin-bottom: 10px;
				margin-top: 15px;
			}
			.banner-text{
				font-size: 1em;
			}
			.banner-button{
				margin-top: 15px;
				a{
					padding: 10px 15px;
					font-size: .833em;
				}
			}
		}
		&.style-6{
			.arw-banner-image img{
				max-width: none;
				min-height: 110px;
			}
			.arw-banner-content {
				left: 10px;
			}
			.banner-subtitle {
				font-size: 1em;
				letter-spacing: 2px;
			}
			.banner-title {
				font-size: 2em;
				letter-spacing: 2px;
			}
			.banner-button a {
				font-size: 0.833em;
				padding: 5px 10px;
			}
		}
	}
	.parallax-dots{
		display: none;
	}
	.arw-parallax-slider .parallax-body .parallax-content-slider .content-slider.style-3 .slider-title,
	.arw-parallax-slider .parallax-body .parallax-content-slider .content-slider.style-2 .slider-sub-title,
	.arw-parallax-slider .parallax-body .parallax-content-slider .content-slider.style-1 .slider-title {
		font-size: 2em;
		letter-spacing: 5px;
	}
	.arw-parallax-slider .parallax-body .parallax-content-slider .content-slider.style-1 .slider-button {
		margin-bottom: -50px;
		margin-top: 50px;
	}
	.arw-parallax-slider .parallax-body .parallax-content-slider .content-slider .slider-button a {
		font-size: 1em;
		line-height: 40px;
		padding: 0 20px;
	}
	.arw-parallax-slider .parallax-body .parallax-content-slider .content-slider.style-2 .slider-title {
		font-size: 5em;
		padding: 10px 0;
	}
	.arw-parallax-slider .parallax-body .parallax-content-slider .content-slider.style-3 .slider-sub-title {
		letter-spacing: 3px;
		line-height: 2em;
	}
	.arw-parallax-slider .parallax-body .parallax-content-slider .content-slider.style-3 .slider-button{
		margin-top: 3em;
	}
}

@media (max-width: 600px) {
	.products-list .outer-image .link-quickview,
	.products-list .ratings,
	.products-list .configurable-swatch-list{
		display: none;
	}
	.toolbar .pager-select .limiter,
	.toolbar .pager-select .amount {
		width: 100%;
		margin-bottom: 0;
	}
	.arw-page-title.has-page-title {
		padding: 10px 0;
	}
	.arw-page-title .page-title h1,
	.arw-page-title .page-title h2 {
		font-size: 16px;
		letter-spacing: 1px;
	}
	.arw-page-title .page-title + .arw_breadcrumbs {
		padding-top: 0;
	}
	.breadcrumbs {
		font-size: 11px;
		letter-spacing: 0;
	}
	.product-view .product-essential .button.link-compare {
		margin-right: 0;
	}
}
@media (max-width: 480px) {
	.products-list .outer-image,
	.products-list .product-shop{
		width: 50%;
	}
	.products-list .product-shop{
		padding-left: 10px;
	}

	.products-list .link-wishlist, .products-list .link-compare {
		width: 40px;
	}
	.products-list .btn-cart {
		height: 34px;
		line-height: 32px;
		margin-top: 0;
		width: 120px;
	}
}
.tparrows {
    display: none !important;
}