.price-slider{
	height: 2px;
	position: relative;
	margin: 40px 0 40px 0px;
	padding: 0 10px;
	float: left;
	width: 100%;
	@include user-select(none);
	background: $block_content_border;
}
.layer-price {
	text-align: center;
	color: $heading_color;
	margin-top: 10px;
	position: absolute;
	width: 100%;
	letter-spacing: 2px;
}
.block-layered-nav dd {
	position: relative;
}
.layer-price-filter{
	display: none;
}
.layer-price-filter > label{
	color: $heading_color;
	font-size: 14px;
	float: left;
	+ label{
		float: right;
		.input-text{
			margin-right: 0;
		}
	}
}
#layer-price-filter-button{
	float: right;
	margin-top: 20px;
}
.layer-price-filter .input-text {
	display: inline-block;
	margin-left: 5px;
	margin-right: 20px;
	width: 80px;
}

/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.noUi-target,
.noUi-target * {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-ms-touch-action: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.noUi-target {
	position: relative;
	direction: ltr;
}
.noUi-base {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 1; /* Fix 401 */
}
.noUi-origin {
	position: absolute;
	right: 0;
	top: 0;
	left: 0;
	bottom: 0;
}
.noUi-handle {
	position: relative;
	z-index: 1;
}
.noUi-stacking .noUi-handle {
	/* This class is applied to the lower origin when
	   its values is > 50%. */
	z-index: 10;
}
.noUi-state-tap .noUi-origin {
	-webkit-transition: left 0.3s, top 0.3s;
	transition: left 0.3s, top 0.3s;
}
.noUi-state-drag * {
	cursor: inherit !important;
}

/* Painting and performance;
 * Browsers can paint handles in their own layer.
 */
.noUi-base {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/* Slider size and handle placement;
 */

.noUi-horizontal .noUi-handle {
	height: 20px;
	width: 20px;
	position: absolute;
	top: -10px;
	left: -10px;
	cursor: ew-resize;
	background: #fff;
	border: 2px solid shade($border_color,20%);
	z-index: 2;
	&:hover,
	&:focus{
		border-color: $primary;
	}
}

/* Handles and cursors;
 */
.noUi-dragable {
	cursor: w-resize;
}
.noUi-vertical .noUi-dragable {
	cursor: n-resize;
}

/* Disabled state;
 */
[disabled].noUi-connect,
[disabled] .noUi-connect {
	background: $block_content_border;
}
[disabled].noUi-origin,
[disabled] .noUi-handle {
	cursor: not-allowed;
}
